
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: MY_B0211(마이페이지>결제내역)</title>

<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.min.js"></script>
<script src="/js/libs/jquery.placeholder.min.js"></script>
<script src="/js/libs/jquery-ui.min.js"></script>
<script src="/js/moment.min.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.min.js"></script>
<script src="/js/browserVersion.min.js"></script>
<script src="/js/libs/jquery.easing.1.3.min.js"></script>
<script src="/js/libs/jquery.mask.min.js"></script>

<script src="/js/libs/jquery.cookie.min.js"></script>
<script src="/js/cookie.min.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F4B2442220033240019263B40013B";

		location.href="../cm/nTdLogin.html?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A16010741200D152A3E062545033D5E220C" }).appendTo("#jmForm");
			$("<input/>").attr({type:"hidden", name:"hmpUrl", value:"taxdiet" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.html?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://www.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://www.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript">
$(function(){
});

function movePage(page){
	$("#current_page").val(page);
	$("#form").attr("target", "_self");

	f_form_submit_nosession("../my/MY_B0211.html");
}
</script>
</head>
<body>
	<div id="wrap board-view">
		<script type="text/javascript">
$(function(){
    //메뉴  클릭시 프로그레스 처리
    $(".logo, .mypage").find("a").click(function(){ progress.start();});
    
  	//메뉴  클릭시 프로그레스 처리
    $(".dep01, .dep02").find("a").click(function(){
    	
    	if($(this).attr("target") != "_blank" ) {
    		progress.start();
    	}
    });
        
});
</script>

	<!-- header_n -->

	<div id="wrap">
		<div id="td__header_wrap">
			<div class="td__header">
				<div class="td__header-depth1">
					<ul class="item5">
					<li >
								<a href="javascript:f_location_href_nosession('/vr/VR_03002.html');">부가세환급지원</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('/vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('/sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('/as/AS_02101_SL.html');">세무상담</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('/bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
				</div>
				<div class="td__header-block">
                    <div class="td__header-top">
						<div class="td__inner-container">
							<h1>
								<a href="../cm/main.html">
									<img src="/images/td/common/sub_logo.gif" alt="로고">
								</a>
							</h1>
							<div class="login-area">
								<div class="login-inner">
								<ul class="login-btn">
											<li>
													<a href="javascript:f_location_href_nosession('/my/MY_B0111.html');" class="progress">마이페이지</a>
												</li>
											</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
							</div>
						</div>
					</div>
					<div class="td__header-bottom">
						<div class="td__header-depth2">
							<ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //header_n -->
<script type="text/javascript" src="/js/niceTopMenu.js"></script><div id="container">
			<div class="contents_wrap columns">
				<div class="contents columns_wrap">
					<h3 class="my_title">
						<strong>강용구</strong>님의 회원정보
					</h3>
					<div class="contents full_width">
						<script type="text/javascript">
$(document).ready(function(){
	// 이용중인 서비스
	$(".mp_info_btn").click(function() {
		fancybox_open_width("../my/MY_B0312.html", "700px", "", "yes");

		return false;
	});
});
</script>
<div class="my_infomation_wrap">
	<form name="form_profile" id="form_profile" method="post" enctype="multipart/form-data">
		<div class="my_left">
			<div class="pic_wrap">
				<div class="thumbnail">
					<div class="centered">
						<a href="../my/MY_B0311.do#pic_file">
							<img	src="" 
									onError="this.src='/images/common/user_img_nopic.gif'"
									width="156px"
									height="158px"
									alt="프로필사진">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my_right">
			<ul class="my_info_list">
				<li>
					<dl>
						<dt>가입일</dt>
						<dd>2011-04-21</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>최근 방문일</dt>
						<dd>2020-06-18 11:53</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>아이디</dt>
						<dd>nice2122</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>사용자 등급</dt>
						<dd>
							
											사업자카드 회원
										<a href="javascript:;" class="mp_info_btn">이용중인 서비스</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>연락처</dt>
						<dd>011-****-6784</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>이메일</dt>
						<dd>hjkang@nicednr.co.kr</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>작성글 수</dt>
						<dd>9</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>작성 댓글 수</dt>
						<dd>0</dd>
					</dl>
				</li>
			</ul>
		</div>
	</form>
</div>
						<div class="my_contents_wrap">
							<div class="my_tab_wrap">
								


								
									
									
										<ul class="my_tab">
											<li  >
												<a href="../my/MY_B0111.html">활동내역</a>
											</li>
											<li class="short active" >
												<a href="../my/MY_B0211.html">결제내역</a>
											</li>
											<li  >
												<a href="../my/MY_B0311.html">회원정보</a>
											</li>
											<li  >
												<a href="../my/MY_B0411.html">회사정보</a>
											</li>
											<!-- 2019.11.06 세무주치의 기능 사용안함 : 이강호 책임님 확인
											<li  >
												<a href="../my/MY_B0511.html">세무주치의</a>
											</li>
											-->
											<li  >
												<a href="../my/MY_B0611.html">ID발급관리</a>
											</li>
											<li  >
												<a href="../my/MY_B0811.html">인증정보관리</a>
											</li>
											<li  >
												<a href="../my/MY_B0711.html">회원탈퇴</a>
											</li>
										</ul>
									
									
									
								</div>
							<div class="my_contents">
							<div class="table_wrap">
								<form name="form" id="form" method="post">
								<input type="hidden" id="current_page"	name="current_page"	value="1"  />
									<table width="100%" class="MY1_table1 private" summary="결제내역이 결제일자, 결제구분, 카드사, 승인번호, 결제금액, 결제내역 순으로 정리되어있다.">
										<caption>결제내역 리스트</caption>
										<colgroup>
											<col width="14%">
											<col width="13%">
											<col width="11%">
											<col width="17%">
											<col width="18%">
											<col width="27%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">결제일자</th>
												<th scope="col">결제구분</th>
												<th scope="col">카드사</th>
												<th scope="col">승인번호</th>
												<th scope="col">결제금액</th>
												<th scope="col">결제내역</th>
											</tr>
										</thead>
										<tbody>
										<tr>
												<td>2016-07-12</td>
												<td>신용카드</td>
												<td>현대</td>
												<td>00795950</td>
												<td>22,000</td>
												<td>서진TPS 이용료</td>
											</tr>
										<tr>
												<td>2015-04-28</td>
												<td>신용카드</td>
												<td>현대</td>
												<td></td>
												<td>-39,600</td>
												<td>하이브리드서비스(신용카드)</td>
											</tr>
										<tr>
												<td>2015-04-28</td>
												<td>신용카드</td>
												<td>현대</td>
												<td>00553377</td>
												<td>39,600</td>
												<td>하이브리드서비스(신용카드)</td>
											</tr>
										<tr>
												<td>2015-04-28</td>
												<td>신용카드</td>
												<td>현대</td>
												<td></td>
												<td>-39,600</td>
												<td>하이브리드서비스(신용카드)</td>
											</tr>
										<tr>
												<td>2015-04-28</td>
												<td>신용카드</td>
												<td>현대</td>
												<td>00591339</td>
												<td>39,600</td>
												<td>하이브리드서비스(신용카드)</td>
											</tr>
										<tr>
												<td>2012-07-23</td>
												<td>신용카드</td>
												<td>신한</td>
												<td>16010775</td>
												<td>2,200</td>
												<td>SMS</td>
											</tr>
										<tr>
												<td>2012-07-23</td>
												<td>신용카드</td>
												<td>신한</td>
												<td>14266833</td>
												<td>2,200</td>
												<td>SMS</td>
											</tr>
										<tr>
												<td>2012-07-05</td>
												<td>신용카드</td>
												<td>현대</td>
												<td>00464537</td>
												<td>11,000</td>
												<td>하이브리드서비스(수기입력)</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
							<div class="paginate_wrap">
									<div class="paginate">
										<p class="first arrow"><span class="icon"></span><span class="text">처음으로</span></p><p class="pre arrow"><span class="icon"></span><span class="text">이전</span></p><ol class="number"><li class="active" ><a href="javascript:movePage('1');">1</a></li></ol><p class="next arrow"><span class="icon"></span><span class="text">다음</span></p><p class="last arrow"><span class="icon"></span><span class="text">마지막으로</span></p></div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
$(document).ready(function(){
	// 회사소개
	$(".nicednr").click(function() {
		window.open("http://www.nicednr.co.kr");
		return false;
	});

	// 제휴문의
	$(".UG_A0411").click(function() {
		fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
		return false;
	});

	// 개인정보처리방침
	$(".UG_A0131").click(function() {
		fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
		return false;
	});

	// 이용약관
	$(".UG_A0121").click(function() {
		fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
		return false;
	});

	// 고객센터
	$(".UG_A0111").click(function() {
		f_location_href_nosession("../ug/UG_A0111.html");
		return false;
	});
	
	// 전자세금 계산서
	$(".tax_bill").click(function() {
		window.open("https://www.nicebill.co.kr/cm/main.html");
		return false;
	});
	
	// 휴폐업 조회
	$(".check_biz").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_30401.html");
		return false;
	});
	
	// 서울보증보험 안내
	$(".sgic").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_40601.html");
		return false;
	});
});
</script>
<div id="td__footer_wrap">
	<div class="td__footer">
		<div class="td__footer-top">
			<ul>
				<li><a href="javascript:;" class="nicednr">회사소개</a></li>
				<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
				<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
				<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
				<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
				<li class="mo_right">
					<a href="https://m.taxdiet.co.kr/nm/NM_20001.html">
						<div class="mo_img">
							<img src="/images/td/common/ico_mobile.png" alt=""/>
						</div>
						모바일버전
					</a>
				</li>
				</ul>
		</div>
		<div class="td__footer-bottom">
			<ul>
				<li>NICE 디앤알(주)</li>
				<li>대표 : 강용구</li>
				<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
				<li>사업자등록번호 : 107-87-08207</li>
				<li class="last">서울특별시 서대문구 충정로 36 7층</li>
				<li>TEL : 1588-5659</li>
				<li class="last">FAX : 788-9001</li>
			</ul>
		</div>
	</div>
</div>
<div class="common-quick-menu qm-sub">
	<ul>
		<li class="tax_bill">
			<a href="#none">
				<img src="/images/common/quick_icon_1.png" alt="전자세금계산서"/>
				전자세금<br />계산서
			</a>
		</li>
		<li class="check_biz">
			<a href="#none">
				<img src="/images/common/quick_icon_2.png" alt="휴폐업조회"/>
				휴폐업<br />조회
			</a>
		</li>
		<li class="sgic">
			<a href="#none">
				<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내"/>
				서울보증보험<br />안내
			</a>
		</li>
	</ul>
</div>
<!-- //footer_n -->	
<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용" style="display:none"></iframe>
<script type="text/javascript" src="/js/imageChecker.js"></script>
<script type="text/javascript">


var title = document.title;
document.title	= title + "·"; 



ImageNotExistProcess.process("boardBox");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36649342-23');
</script></div>
</body>
</html>