<!DOCTYPE html>
<html lang="ko">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="language" content="ko" />
	<meta name="copyright" content="copyrights 2019 NICE Data" />
	<meta name="author" content="NICE Data" />
	<title>택스다이어트: MY_B0311(마이페이지>회원정보)</title>

	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
	<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

	<!--  공통 -->
	<script src="/js/libs/jquery-1.11.1.min.js"></script>
	<script src="/js/niceCommon.js"></script>
	<script src="/js/common-util.js"></script>
	<script src="/js/libs/jquery.fancybox.min.js"></script>
	<script src="/js/libs/jquery.placeholder.min.js"></script>
	<script src="/js/libs/jquery-ui.min.js"></script>
	<script src="/js/moment.min.js"></script>

	<script src="/js/libs/jquery.dialog.min.js"></script>

	<script src="/js/common.js"></script>
	<script src="/js/progress.min.js"></script>
	<script src="/js/browserVersion.min.js"></script>
	<script src="/js/libs/jquery.easing.1.3.min.js"></script>
	<script src="/js/libs/jquery.mask.min.js"></script>

	<script src="/js/libs/jquery.cookie.min.js"></script>
	<script src="/js/cookie.min.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

	<script type="text/javascript">
		$(function () {
			// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
			$("ul.gnb_depth1 > li").each(function (index) {
				if ($(this).attr("class") == "on") {
					$("div.logo-wrap > h2").html($(this).text().trim());
				}
			})


			// 로그아웃
			$(document).on("click", ".btn_logout", function (data) {
				if (confirm("로그아웃 하시겠습니까?")) {

					var $form = $("<form/>", {
						id: "logoutForm",
						method: "post",
						action: "../cm/nTdLogout.html"
					});
					$("body").append($form);
					$form.submit();
				}
			});


			$("#loginBtn").click(function () {
				if ($.trim($("#membId").val()) == "") {
					alert("회원아이디를 입력하세요.");
					$("#membId").focus();
					return false;
				}

				if ($.trim($("#pswd").val()) == "") {
					alert("비밀번호를 입력하세요.");
					$("#pswd").focus();
					return false;
				}

				$.removeCookie("saveid", {
					path: '/'
				});

				if ($("#chk_save_id").prop("checked")) {
					$.cookie("saveid", $.trim($("#membId").val()), {
						expires: 365,
						path: '/'
					});
				}

				doLogin();

				return false;
			});


			$("#btn_login").click(function () {

				var param = "";


				param = "7F4B244222003324000C263B40013B";

				location.href = "../cm/nTdLogin.html?returnURL=" + param;
			});

			$("#loginForm input[name=pswd]").keyup(function (e) {
				if (e.keyCode == KeyCode.ENTER) {
					$("#loginBtn").click();
				}
			});


			$(".btn_joinMember").click(function () {

				var url = $(this).attr("move");

				if (typeof jmForm == "undefined") {
					var $form = $("<form/>", {
						id: "jmForm",
						name: "jmForm",
						method: "get",
						action: url
					});

					$("body").append($form);
					$("<input/>").attr({
						type: "hidden",
						name: "referrUrl",
						value: "623C2734237F434A16010741200D152A3E062545033D5E220C"
					}).appendTo("#jmForm");
					$("<input/>").attr({
						type: "hidden",
						name: "hmpUrl",
						value: "taxdiet"
					}).appendTo("#jmForm");

				} else {
					$("#jmForm").attr("action", url);
				}
				$("#jmForm").attr('target', '_blank').submit();

			});
		});

		function fnLayerClose() {
			try {
				parent.$.fancybox.close();
			} catch (exception) {}
		}
		var membEtcRefresh = function () {
			$.post("../cm/CM_00001_UP1.html", "", "");
		}
		var isLogin = function () {

			return true;

		}

		// 미사용
		function fnLogin(returnURL) {
			if (!isLogin()) {
				var msg = "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";

				alert(msg);

				if (typeof (returnURL) == "undefined") {
					returnURL = location.pathname;
				}

				location.href = "../cm/nTdLogin.html?returnURL=" + returnURL;

				return false;
			}
			return true;
		}

		function fnIeLimitCheck() {
			var limitVersion = 8;
			var ieVersion = getIeVersion();

			if (getCookie("NoMoreBrowserPopup") != "yes") {
				if (ieVersion) {
					if (ieVersion <= limitVersion) {
						WindowUtil.open({
							windowURL: "/popup/popup_ieWarning.html",
							windowName: "popup_browserWarning",
							width: 600,
							height: 741
						});
					}
				}
			}
		}

		function doLogin() {
			if ($("#loginForm > input#redirectURL").length === 0) {
				$("<input>").attr({
					type: "hidden",
					id: "redirectURL",
					name: "redirectURL",
					value: "https://www.taxdiet.co.kr/my/MY_B0111.html"
				}).appendTo("#loginForm");
			} else if ($("#redirectURL").val() == "") {
				$("#redirectURL").val("https://www.taxdiet.co.kr/my/MY_B0111.html");
			} else {
				$("#redirectURL").val(location.href);
			}

			if ($("#returnURL").val() != "") {
				$("#redirectURL").val("");
			}

			$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
			$("#loginForm").attr("target", "_self");
			$("#loginForm").submit();
		}
	</script>
	<script src="/js/password.js"></script>
	<script type="text/javascript">
		var isAllowFileExt = "jpg,jpeg,gif,png,bmp";
		var fileMaxSize = 1048576; // 현재 1MB
		var $fileObj_target;
		var $file_obj;

		$(function () {
			$("#taxSubSeq").mask("0000");
			$("#telNo").mask("99999999999");

			$("#btn_modify_cencel").click(function () {
				f_location_href_nosession("../my/MY_B0311.html");
			});

			/* 저장 */
			$("#btn_modify_submit").click(function () {
				if ($("#membName").val() == "") {
					alert("이름을 확인하십시요.");
					$("#membName").focus();
					return false;
				}

				if ($("#pswd").val() == "") {
					alert("현재 비밀번호를 확인하십시요.");
					$("#pswd").focus();
					return false;
				}

				var message = "저장하시겠습니까?";

				if ($("#newPswd").val() != "" || $("#re_pswd").val() != "") {
					if (!isCheck_pswd($("#newPswd").val())) {
						alert("비밀번호를 안전하게 다시 설정하십시오.");
						$("#newPswd").focus();
						return false;
					}

					if ($("#pswd").val() == $("#newPswd").val()) {
						alert("비밀번호는 이전 비밀번호와 달라야 합니다.");
						$("#newPswd").focus();
						return false;
					}

					if ($("#newPswd").val() != $("#re_pswd").val()) {
						alert("비밀번호가 일치하지 않습니다.");
						$("#newPswd").focus();
						return false;
					}


					message =
						'비밀번호 변경 시 통합회원 정책에 연결된 모든 서비스(오토빌, 택스다이어트, 나이스빌, 셀프택스, 퀵장관(DRP))의 비밀번호가 변경됩니다.\n계속 하시겠습니까?';

				}

				//핸드폰번호 유효성 체크
				if (!$("#hpNo").val().replace(/-/gi, "").isMobile()) {
					alert("핸드폰번호를 확인하십시요.");
					$("#hpNo").focus();
					return false;
				}

				// 이메일 체크
				if (!$("#email").val().isEmail()) {
					alert("이메일 형식이 잘못되었습니다.");
					$("#email").val("");
					return false;
				}



				if (confirm(message)) {
					$("#form").attr("enctype", "multipart/form-data");
					$("#form").attr("target", "_self");

					var form = $("form")[1];
					var formData = new FormData(form);

					f_ajax_content_submit("../my/MY_B0311_UP1.html", formData, "7F4B244222003324000C263B40013B",
						"f_call_result1");
				}

				return false;
			});

			// 비밀번호 입력 event
			$("#newPswd").keyup(function () {
				var inputKey = $("#newPswd").val();
				var message = "";

				if (inputKey != "") {
					if (inputKey.length < 8) {
						$("p.length").addClass("active").siblings(".pswd").removeClass("active");
						return false;
					}
					if (!isCheck_pswd(inputKey)) {
						$("p.invalid").addClass("active").siblings(".pswd").removeClass("active");
						return false;
					} else {
						$("p.complete").addClass("active").siblings(".pswd").removeClass("active");
						return false;
					}
				} else {
					$("p.pswd").removeClass("active");
				}
			});

			$("input[name=re_pswd]", this).bind({
				blur: function () {
					check_re_pswd();
				},
				keyup: function () {
					check_re_pswd();
				}
			});

			$("#btn_cert").click(function () {
				checkPlusOpen();
			});

			$file_obj = $("#filex").clone(true);

			// 첨부 파일 실행
			$("#filex").change(function (e) {
				//정상파일 및 확장자 체크
				if (FileFunc.attachFile(this)) {
					$fileObj_target = this;

					$("#filex_delYn").val("N"); //삭제여부 초기화
				}

				return false;
			});

			var FileFunc = {
				// 첨부 파일 실행
				attachFile: function (obj) {
					var file_name = obj.value;
					file_name = file_name.substring(file_name.lastIndexOf("\\") + 1, file_name.length);
					// file ext check
					if (file_name == "") {
						return false;
					} else if (!FileFunc.attachFileExtChk(file_name)) {
						alert("업로드시 허용하지 않는 파일 형식입니다.");
						FileFunc.createFileObj(obj);
						return false;
					}

					if (!FileFunc.attachFileSizeChk(obj.files[0].size)) {
						alert("업로드 가능한 파일사이즈는 최대 1M 입니다.");
						FileFunc.createFileObj(obj);
						return false;
					}

					return true;
				},
				// 첨부 파일 확장자 유효성 검사
				attachFileExtChk: function (file_name) {
					if (file_name.lastIndexOf(".") == -1) {
						return false;
					}

					var ext = file_name.substring(file_name.lastIndexOf(".") + 1, file_name.length)
						.toLowerCase();
					var ext_array = isAllowFileExt.split(",");
					var ext_array_length = ext_array.length;

					for (var i = 0; i < ext_array_length; i++) {
						if (ext_array[i] == ext) {
							return true;
						}
					}

					return false;
				},
				// 첨부 파일 크기 유효성 검사
				attachFileSizeChk: function (fileSize) {
					if (fileSize > fileMaxSize) {
						return false;
					}

					return true;
				},
				// 첨부 파일 객체 재생성
				createFileObj: function (obj) {
					initFileObj(obj);
				}
			};

			//파일 삭제
			$("#delFile").click(function () {
				if (confirm("이미지파일을 삭제 하시겠습니까?")) {
					FileFunc.createFileObj($fileObj_target);

					$("#filex_delYn").val("Y");
					$("#profOrgFileNm").html("");
				}

				return false;
			});
		});

		function f_call_result1(result) {
			if (result.status) {
				alert("회원정보가 수정되었습니다.")

				$("#btn_modify_cencel").click();
			} else if (result.status_msg != "") {
				if (result.status_msg == "ATTACH_FILE_EXT") {
					alert("업로드시 허용하지 않는 파일 형식입니다.");

					initFileObj($fileObj_target);
				} else if (result.status_msg == "ATTACH_MAX_SIZE") {
					alert("업로드 가능한 파일사이즈는 최대 1M 입니다.");

					initFileObj($fileObj_target);
				} else {
					alert(result.status_msg);
				}
			} else {
				alert("회원정보 수정에 실패하였습니다.");
			}
		}

		//비밀번호 확인 체크
		function check_re_pswd() {
			if ($("#re_pswd").val() != "") {
				if ($("#newPswd").val() == $("#re_pswd").val()) {
					if (isCheck_pswd($("#newPswd").val())) {
						$("p.equal").addClass("active").siblings(".re_pswd").removeClass("active");
					}
				} else {
					$("p.notmatch").addClass("active").siblings(".re_pswd").removeClass("active");
				}

			} else {
				$(".re_pswd").removeClass("active");
			}
		}


		function checkPlusEnd() {
			if ($("input[name='resSeq']").val() != "" && $("input[name='di']").val() != "") {
				$("#crtfCode").val($("input[name='di']").val());
				$("#certKey").val($("#checkPlusForm > input[name=reserved1]").val());

				$("#membName").val($("#checkPlusForm > input[name=name]").val());
				$("#hpNo").val($("#checkPlusForm > input[name=mobileNo]").val());
				$("#hpNo_text").text($("#hpNo").val());
			} else {
				alert("본인확인 중 오류가 발생하였습니다.");
				return false;
			}
		}

		function initFileObj(obj) {
			if (getIeVersion()) {
				$(obj).replaceWith($(obj).clone(true));
				$file_obj = $("#filex").clone(true);
			} else {
				$("#filex").val("");
			}
		}
	</script>
</head>

<body>
	<div id="wrap board-view">
		<script type="text/javascript">
			$(function () {
				//메뉴  클릭시 프로그레스 처리
				$(".logo, .mypage").find("a").click(function () {
					progress.start();
				});

				//메뉴  클릭시 프로그레스 처리
				$(".dep01, .dep02").find("a").click(function () {

					if ($(this).attr("target") != "_blank") {
						progress.start();
					}
				});

			});
		</script>

		<!-- header_n -->

		<div id="wrap">
			<div id="td__header_wrap">
				<div class="td__header">
					<div class="td__header-depth1">
						<ul class="item5">
							<li>
								<a href="javascript:f_location_href_nosession('/vr/VR_03002.html');">부가세환급지원</a>
							</li>
							<li>
								<a href="javascript:f_location_href_nosession('/vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
							<li>
								<a href="javascript:f_location_href_nosession('/sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
							<li>
								<a href="javascript:f_location_href_nosession('/as/AS_02101_SL.html');">세무상담</a>
							</li>
							<li>
								<a href="javascript:f_location_href_nosession('/bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
					</div>
					<div class="td__header-block">
						<div class="td__header-top">
							<div class="td__inner-container">
								<h1>
									<a href="../cm/main.html">
										<img src="/images/td/common/sub_logo.gif" alt="로고">
									</a>
								</h1>
								<div class="login-area">
									<div class="login-inner">
										<ul class="login-btn">
											<li>
												<a href="javascript:f_location_href_nosession('/my/MY_B0111.html');"
													class="progress">마이페이지</a>
											</li>
										</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
								</div>
							</div>
						</div>
						<div class="td__header-bottom">
							<div class="td__header-depth2">
								<ul>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //header_n -->
		<script type="text/javascript" src="/js/niceTopMenu.js"></script>
		<div id="container">
			<div class="contents_wrap columns">
				<div class="contents columns_wrap">
					<h3 class="my_title">
						<strong>강용구</strong>님의 회원정보
					</h3>
					<div class="contents full_width">
						<script type="text/javascript">
							$(document).ready(function () {
								// 이용중인 서비스
								$(".mp_info_btn").click(function () {
									fancybox_open_width("../my/MY_B0312.html", "700px", "", "yes");

									return false;
								});
							});
						</script>
						<div class="my_infomation_wrap">
							<form name="form_profile" id="form_profile" method="post" enctype="multipart/form-data">
								<div class="my_left">
									<div class="pic_wrap">
										<div class="thumbnail">
											<div class="centered">
												<a href="../my/MY_B0311.do#pic_file">
													<img src="" onError="this.src='/images/common/user_img_nopic.gif'"
														width="156px" height="158px" alt="프로필사진">
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="my_right">
									<ul class="my_info_list">
										<li>
											<dl>
												<dt>가입일</dt>
												<dd>2011-04-21</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>최근 방문일</dt>
												<dd>2020-06-18 11:53</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>아이디</dt>
												<dd>nice2122</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>사용자 등급</dt>
												<dd>

													사업자카드 회원
													<a href="javascript:;" class="mp_info_btn">이용중인 서비스</a>
												</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>연락처</dt>
												<dd>011-****-6784</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>이메일</dt>
												<dd>hjkang@nicednr.co.kr</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>작성글 수</dt>
												<dd>9</dd>
											</dl>
										</li>
										<li>
											<dl>
												<dt>작성 댓글 수</dt>
												<dd>0</dd>
											</dl>
										</li>
									</ul>
								</div>
							</form>
						</div>
						<div class="my_contents_wrap">
							<div class="my_tab_wrap">






								<ul class="my_tab">
									<li>
										<a href="../my/MY_B0111.html">활동내역</a>
									</li>
									<li>
										<a href="../my/MY_B0211.html">결제내역</a>
									</li>
									<li class="short active">
										<a href="../my/MY_B0311.html">회원정보</a>
									</li>
									<li>
										<a href="../my/MY_B0411.html">회사정보</a>
									</li>
									<!-- 2019.11.06 세무주치의 기능 사용안함 : 이강호 책임님 확인
											<li  >
												<a href="../my/MY_B0511.html">세무주치의</a>
											</li>
											-->
									<li>
										<a href="../my/MY_B0611.html">ID발급관리</a>
									</li>
									<li>
										<a href="../my/MY_B0811.html">인증정보관리</a>
									</li>
									<li>
										<a href="../my/MY_B0911.html">세무정보관리</a>
									</li>
									<li>
										<a href="../my/MY_B0711.html">회원탈퇴</a>
									</li>
								</ul>



							</div>
							<div class="my_contents">
								<h4>
									회원정보
									<p><span>*</span> 표시는 필수 항목입니다.</p>
								</h4>
								<div class="member_profile_wrap">
									<form id="form" name="form" method="post" enctype="multipart/form-data">
										<input type="hidden" name="membNo" id="membNo" value="00338928" />
										<input type="hidden" name="crtfCode" id="crtfCode" value="" />
										<input type="hidden" name="certKey" id="certKey" value="" />
										<input type="hidden" name="filex_delYn" id="filex_delYn" value="N" />
										<input type="hidden" id="fileName" name="fileName" />
										<input type="hidden" name="allowFileExt" id="allowFileExt"
											value="jpg,jpeg,gif,png,bmp" />
										<input type="hidden" name="fileMaxSize" id="fileMaxSize" value="1048576" />
										<ul class="mp_wrap">
											<li class="half">
												<dl>
													<dt>
														아이디
													</dt>
													<dd>
														nice2122<span>
															(

															사업자카드 회원

															)
														</span>
														<a href="javascript:;" class="mp_info_btn">이용중인 서비스</a>
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_business_number">종사업장 번호</label>
													</dt>
													<dd>
														<input name="taxSubSeq" type="text" id="taxSubSeq" maxlength="4"
															value="" />
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_name">이름 <span>*</span></label>
													</dt>
													<dd>
														<input name="membName" type="text" maxlength="50" id="membName"
															size="30" value="강용구" readonly="readonly"
															class="in_disabled" />
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														사용자 등급
													</dt>
													<dd>
														관리자
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_pw">현재 비밀번호 <span>*</span></label>
													</dt>
													<dd>
														<input name="pswd" type="password" maxlength="16" id="pswd"
															size="30" value="" />
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_name">소속</label>
													</dt>
													<dd>
														나이스디앤알(주)
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_pw_check">비밀번호 변경</label>
													</dt>
													<dd>
														<ul class="my_mp_depth2">
															<li>
																<input name="newPswd" type="password" maxlength="16"
																	id="newPswd" size="30" value="" />
															</li>
															<li class="pw_ml15">
																<p class="pswd length notice_message nm_red">비밀번호는 8자 ~
																	16자 이내로 입력하셔야 합니다.</p>
																<p class="pswd invalid notice_message nm_red">
																	영문자,숫자,특수문자!@#$%^&*() 조합으로 8~16자리 이내로 입력하세요.</p>
																<p class="pswd complete notice_message nm_blue">안전</p>
															</li>
														</ul>
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_dptName">부서명</label>
													</dt>
													<dd>
														<input name="dptName" type="text" id="dptName" maxlength="20" size="30" value="">
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_pw_check">비밀번호 확인</label>
													</dt>
													<dd>
														<ul class="my_mp_depth2">
															<li>
																<input name="re_pswd" type="password" maxlength="16" id="re_pswd" size="30" value="" />
															</li>
															<li class="pw_ml15">
																<p class="re_pswd notmatch notice_message nm_red">비밀번호가
																	맞지 않습니다.</p>
																<p class="re_pswd equal notice_message nm_blue">일치</p>
															</li>
														</ul>
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_phone">전화번호</label>
													</dt>
													<dd>
														<input name="telNo" type="text" id="telNo" size="30"
															maxlength="20" value="027889027" />
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														휴대폰 번호 <span>*</span>
													</dt>
													<dd>
														<ul class="my_mp_depth2">
															<li>
																<span id="hpNo_text">0117876784</span>
																<input type="hidden" name="hpNo" id="hpNo"
																	value="0117876784" />
															</li>
															<li class="pw_ml15">
																<input type="button" id="btn_cert" value="변경하기"
																	class="base_btn_color gray" />
															</li>
														</ul>
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="my_mp_mail">이메일 <span>*</span></label>
													</dt>
													<dd>
														<input name="email" type="text" id="email" maxlength="50"
															size="50" value="hjkang@nicednr.co.kr" />
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														이메일 수신 동의
													</dt>
													<dd>
														<ul class="my_mp_depth2">
															<li>
																<label>
																	<input type="radio" name="emailRecpDenYn"
																		value="N" />
																	수신동의
																</label>
															</li>
															<li class="pw_ml15">
																<label>
																	<input type="radio" name="emailRecpDenYn" value="Y"
																		checked />
																	수신거부
																</label>
															</li>
														</ul>
													</dd>
												</dl>
											</li>
											<li class="half">
												<dl>
													<dt>
														<label for="filex2">통장사본</label>
													</dt>
													<dd>
														<ul id="pic_file2" class="my_mp_depth2">
															<li>
																<input type="file" name="filex2" id="filex2" />

															</li>
														</ul>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<label for="filex">프로필 사진</label>
													</dt>
													<dd>
														<ul id="pic_file" class="my_mp_depth2">
															<li>
																<input type="file" name="filex" id="filex" />

															</li>
														</ul>
													</dd>
												</dl>
											</li>
										</ul>
										<ul class="base_bottom_btn">
											<li>
												<input type="button" id="btn_modify_cencel" value="취소"
													class="base_btn_color dark">
											</li>
											<li>
												<input type="button" id="btn_modify_submit" value="저장"
													class="base_btn_color">
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function () {
					// 회사소개
					$(".nicednr").click(function () {
						window.open("http://www.nicednr.co.kr");
						return false;
					});

					// 제휴문의
					$(".UG_A0411").click(function () {
						fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
						return false;
					});

					// 개인정보처리방침
					$(".UG_A0131").click(function () {
						fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
						return false;
					});

					// 이용약관
					$(".UG_A0121").click(function () {
						fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
						return false;
					});

					// 고객센터
					$(".UG_A0111").click(function () {
						f_location_href_nosession("../ug/UG_A0111.html");
						return false;
					});

					// 전자세금 계산서
					$(".tax_bill").click(function () {
						window.open("https://www.nicebill.co.kr/cm/main.html");
						return false;
					});

					// 휴폐업 조회
					$(".check_biz").click(function () {
						window.open("http://www.nicedata.co.kr/as/AS_30401.html");
						return false;
					});

					// 서울보증보험 안내
					$(".sgic").click(function () {
						window.open("http://www.nicedata.co.kr/as/AS_40601.html");
						return false;
					});
				});
			</script>
			<div id="td__footer_wrap">
				<div class="td__footer">
					<div class="td__footer-top">
						<ul>
							<li><a href="javascript:;" class="nicednr">회사소개</a></li>
							<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
							<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
							<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
							<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
							<li class="mo_right">
								<a href="https://m.taxdiet.co.kr/nm/NM_20001.html">
									<div class="mo_img">
										<img src="/images/td/common/ico_mobile.png" alt="" />
									</div>
									모바일버전
								</a>
							</li>
						</ul>
					</div>
					<div class="td__footer-bottom">
						<ul>
							<li>NICE 디앤알(주)</li>
							<li>대표 : 강용구</li>
							<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
							<li>사업자등록번호 : 107-87-08207</li>
							<li class="last">서울특별시 서대문구 충정로 36 7층</li>
							<li>TEL : 1588-5659</li>
							<li class="last">FAX : 788-9001</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="common-quick-menu qm-sub">
				<ul>
					<li class="tax_bill">
						<a href="#none">
							<img src="/images/common/quick_icon_1.png" alt="전자세금계산서" />
							전자세금<br />계산서
						</a>
					</li>
					<li class="check_biz">
						<a href="#none">
							<img src="/images/common/quick_icon_2.png" alt="휴폐업조회" />
							휴폐업<br />조회
						</a>
					</li>
					<li class="sgic">
						<a href="#none">
							<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내" />
							서울보증보험<br />안내
						</a>
					</li>
				</ul>
			</div>
			<!-- //footer_n -->
			<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용"
				style="display:none"></iframe>
			<script type="text/javascript" src="/js/imageChecker.js"></script>
			<script type="text/javascript">
				var title = document.title;
				document.title = title + ".";



				ImageNotExistProcess.process("boardBox");
			</script>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
			<script>
				window.dataLayer = window.dataLayer || [];

				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', 'UA-36649342-23');
			</script>
		</div>
		<script type="text/javascript">
			function checkPlusOpen() {
				// 보안인증 암호화 키 생성
				$.ajax({
					type: 'POST',
					url: '../cm/CM_CheckEncData.html',
					async: false,
					success: function (data, status) {
						if (data != null && data != "") {
							$("input[name='EncodeData']").val(data);

							// 본인인증 페이지 호출
							if ($("input[name='EncodeData']").val() != "") {
								checkPlus.getCheckPop();
							}
						} else {
							alert("작업 중 오류가 발생하였습니다.");
							return false;
						}
					},
					error: function (xhr, textStatus, errorThrown) {
						return;
					}
				});

				return false;

			}

			var checkPlus = {

				// 본인인증 팝업 OPEN
				getCheckPop: function () {

					var win = window.open('about:blank', "popupChk",
						"width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no"
						);
					if (win == null) {
						alert('팝업창 설정을 허용해 주세요');
						return false;
					}

					$('#checkPlusForm').attr('action', "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb");
					$('#checkPlusForm').attr('target', 'popupChk');
					$('#checkPlusForm').submit();

					return false;
				},

				endEvent: function (data) {
					checkPlusEnd();
				}
			}
		</script>

		<!-- 본인인증 서비스 팝업을 호출하기 위해서는 다음과 같은 form이 필요합니다. -->
		<form name="checkPlusForm" id="checkPlusForm" method="post">
			<input type="hidden" name="m" value="checkplusSerivce"> <!-- 필수 데이타로, 누락하시면 안됩니다. -->
			<input type="hidden" name="EncodeData" value=""> <!-- 위에서 업체정보를 암호화 한 데이타입니다. -->

			<!-- 업체에서 응답받기 원하는 데이타를 설정하기 위해 사용할 수 있으며, 인증결과 응답시 해당 값을 그대로 송신합니다. 해당 파라미터는 추가하실 수 없습니다. -->
			<input type="hidden" name="param_r1" value="">
			<input type="hidden" name="param_r2" value="">
			<input type="hidden" name="param_r3" value="">

			<input type="hidden" name="mobileNo" value="">
			<input type="hidden" name="cipherTime" value="">
			<input type="hidden" name="reqSeq" value="">
			<input type="hidden" name="resSeq" value="">
			<input type="hidden" name="birthDate" value="">
			<input type="hidden" name="nationalinfo" value="">
			<input type="hidden" name="name" value="">
			<input type="hidden" name="gender" value="">
			<input type="hidden" name="errCode" value="">
			<input type="hidden" name="reserved1" value="">
			<input type="hidden" name="reserved2" value="">
			<input type="hidden" name="reserved3" value="">
			<input type="hidden" name="di" value="">
			<input type="hidden" name="ci" value="">

		</form>
</body>

</html>