
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: AS_02101_SL(세무상담>글쓰기)</title>

<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.js"></script>
<script src="/js/libs/jquery.placeholder.js"></script>
<script src="/js/libs/jquery-ui.js"></script>
<script src="/js/moment.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/browserVersion.js"></script>
<script src="/js/libs/jquery.easing.1.3.js"></script>
<script src="/js/libs/jquery.mask.js"></script>

<script src="/js/libs/jquery.cookie.js"></script>
<script src="/js/cookie.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F162F423F7D33060E2011023151566C0737";

		location.href="../cm/nTdLogin.do?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A2D5910065E0016262341250F130D2100204935215D3F07" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.do?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://t-renewal.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://t-renewal.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript" src="/js/libs/jquery.validate-1.8.1.min.js"></script>
<script type="text/javascript">
var isAllowFileExt = "image,jpg,jpeg,gif,png,bmp,pdf,ppt,pptx,doc,docx,xls,xlsx,hwp";
var fileMaxSize = 10485760;	// 현재 10MB
var $fileObj_target;
var $file_obj;

$(document).ready(function(){
	// 취소-목록
	$(".list").click(function() {
		$("#form").attr("target", "_self");

		f_form_submit_nosession("/as/AS_02101_SL.html");

		return false;
	});

	$("#form").validate({
        rules : {
			'titl' : { required:true, maxBytes:100 }
			,'agree' : { validAgreeYes:true }
			,'taxCls' : { required:true }
			,'cont' : { required:true }
        }
		,names  : {
			'titl' : '제목'
			,'sms': '휴대폰 번호'
			,'agree_yes': '개인정보 수집 이용 동의'
			,'taxCls' : '문의유형'
			,'cont' : '내용'
		}
	    ,messages : {
			'agree' : { validAgreeYes : "개인정보 수집 이용 미동의 시 세무상담을 진행할 수 없습니다. 동의함에 체크해주세요." }
        	,'taxCls' : { required : "문의유형 항목은 반드시 선택해야 합니다." }
	    }
		,onsubmit : false
    });

    $.validator.addMethod(
        // 개인정보 수집 이용 동의 검증
        'validAgreeYes', function(value, element) {
    		if ($("input[name='agree']:checked").val() == "N") {
    			return false;
    		}

    		return true;
        }, '개인정보 수집 이용 미동의 시 세무상담을 진행할 수 없습니다. 동의함에 체크해주세요.'
    );

	// 등록
	$(".regist").click(function() {
		if(!$("#form").valid()){
			return false;
		}

		
		if (confirm("등록하시겠습니까?")) {
			var form = $('form')[0];
	        var formData = new FormData(form);

			$("#form").attr("target", "_self");

			f_ajax_content_submit('../as/AS_02102_IN1.html', formData, "7F162F423F7D33060E20113B3151566C0737", "f_call_result1");
		}

		return false;
	});

    $file_obj = $("#filex").clone(true);

	// 첨부 파일 실행
    $("#filex").bind("change", function() {
    	// 정상파일 및 확장자 체크
        if (FileFunc.attachFile(this)) {
        	$fileObj_target = this;
        }        

		return false;
    });
    
    var FileFunc = {
        // 첨부 파일 실행
        attachFile : function(obj) {
            var file_name = obj.value;
                file_name = file_name.substring(file_name.lastIndexOf("\\") + 1, file_name.length);
            // file ext check
            if (file_name == "") {
            	return false;
            }
            else if (!FileFunc.attachFileExtChk(file_name)) {
            	alert("업로드시 허용하지 않는 파일 형식입니다.");
            	FileFunc.createFileObj(obj);
                return false;
            }

            if (!FileFunc.attachFileSizeChk(obj.files[0].size)) {
            	alert("업로드 가능한 파일사이즈는 최대 10M 입니다.");
            	FileFunc.createFileObj(obj);
                return false;
            }

            return true;
        },
        // 첨부 파일 확장자 유효성 검사
        attachFileExtChk : function(file_name) {
            if (file_name.lastIndexOf(".") == -1) {
            	return false;
            }

            var ext = file_name.substring(file_name.lastIndexOf(".") + 1, file_name.length).toLowerCase();
            var ext_array = isAllowFileExt.split(",");
            var ext_array_length = ext_array.length;

            for (var i = 0; i < ext_array_length; i++) {
                if (ext_array[i] == ext) {
                    return true;
                }
            }

            return false;
        },
        // 첨부 파일 크기 유효성 검사
        attachFileSizeChk : function(fileSize) {
			if(fileSize > fileMaxSize) {
				return false;
		    }

			return true;
        },
        // 첨부 파일 객체 재생성
        createFileObj : function(obj) {
        	initFileObj(obj);
        }
    };

	/* 파일삭제 */
	$(".delfile").click(function() {
		FileFunc.createFileObj($fileObj_target);

		return false;
	});

	$("#titl").focus();
});

function f_call_result1(result) {
	if (result.status) {
		alert("등록되었습니다.");

		$("#current_page").val("1");
		$(".list").click();
   	}
	else if (result.status_msg != "") {
		if (result.status_msg == "ATTACH_FILE_EXT") {
			alert("업로드시 허용하지 않는 파일 형식입니다.");

			initFileObj($fileObj_target);
		}
		else if (result.status_msg == "ATTACH_MAX_SIZE") {
			alert("업로드 가능한 파일사이즈는 최대 10M 입니다.");

			initFileObj($fileObj_target);
		}
		else {
			alert(result.status_msg);
		}
	}
	else {
		alert("등록에 실패 하였습니다.");
	}
}

function initFileObj(obj) {
	if(getIeVersion()) {
    	$(obj).replaceWith($(obj).clone(true));
        $file_obj = $("#filex").clone(true);
	}
	else {
		$("#filex").val("");
	}

	$(".file-name").val("");
}
</script>
</head>
<body>
<script type="text/javascript">
$(function(){
    //메뉴  클릭시 프로그레스 처리
    $(".logo, .mypage").find("a").click(function(){ progress.start();});
    
  	//메뉴  클릭시 프로그레스 처리
    $(".dep01, .dep02").find("a").click(function(){
    	
    	if($(this).attr("target") != "_blank" ) {
    		progress.start();
    	}
    });
        
});
</script>

	<!-- header_n -->

	<div id="wrap">
		<div id="td__header_wrap">
			<div class="td__header">
				<div class="td__header-depth1">
					<ul class="item5">
					<li >
								<a href="javascript:f_location_href_nosession('../vr/VR_03002.html');">부가세환급지원</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
						<li class="active">
								<a href="javascript:f_location_href_nosession('../as/AS_02101_SL.html');">세무상담</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
				</div>
				<div class="td__header-block">
                    <div class="td__header-top">
						<div class="td__inner-container">
							<h1>
								<a href="../cm/main.html">
									<img src="/images/td/common/sub_logo.gif" alt="로고">
								</a>
							</h1>
							<div class="login-area">
								<div class="login-inner">
								<ul class="login-btn">
											<li>
													<a href="javascript:f_location_href_nosession('../my/MY_B0111.html');" class="progress">마이페이지</a>
												</li>
											</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
							</div>
						</div>
					</div>
					<div class="td__header-bottom">
						<div class="td__header-depth2">
							<ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //header_n -->
<script type="text/javascript" src="/js/niceTopMenu.js"></script><form name="form" id="form" method="post">
	<input type="hidden" name="token" value="6zD/4BMOVf0mI3rGzfJCMRW+0nmVt+6i3XqvO/UIGtY=" />
	<input type="hidden" id="blbdSeq" name="blbdSeq" value=""/>
	<input type="hidden" id="blbdKind" name="blbdKind" value="53"/>
	<input type="hidden" id="current_page" name="current_page" value=""/>
	<input type="hidden" id="orderGbnNm" name="orderGbnNm" value=""/>
	<input type="hidden" id="srchTaxCls" name="srchTaxCls" value=""/>
	<input type="hidden" id="srhTitl" name="srhTitl" value=""/>
	<input type="hidden" id="srchType" name="srchType" value=""/>
	<input type="hidden" id="allowFileExt" name="allowFileExt" value="image,jpg,jpeg,gif,png,bmp,pdf,ppt,pptx,doc,docx,xls,xlsx,hwp"/>
	<input type="hidden" id="fileMaxSize" name="fileMaxSize" value="10485760"/>
	<div id="wrap">
		<div id="td__container">
			<div class="td__contents_wrap">
				<div class="td__contents">
					<div class="td__tit-block">
						<h3 class="sub__tit sub__tit--center">문의글 작성</h3>
					</div>
					<div class="td__sub-con">
						<div class="td__board-block">
							<div class="td__board">
								<div class="td__table-set9">
									<table>
										<col style="width: 20%;">
										<col style="width: 80%;">
										<tbody>
											<tr>
												<th scope="row">제목</th>
												<td>
													<input type="text" id="titl" name="titl" />
												</td>
											</tr>
											<tr>
												<th scope="row">문의유형</th>
												<td>
													<select id="taxCls" name="taxCls"><option value="" selected="selected">선택</option><option value="001">부가가치세</option><option value="002">종합소득세</option><option value="003">법인세</option><option value="004">자동차세</option><option value="005">임대소득</option><option value="006">재산세</option><option value="007">기타</option></select></td>
											</tr>
											<tr>
												<th scope="row">이름</th>
												<td>최현수</td>
											</tr>
											<tr>
												<th scope="row">연락처</th>
												<td>
													010-****-8508</td>
											</tr>
											<tr>
												<th scope="row">개인정보 수집 <br>및 이용 동의</th>
												<td>
													<div class="terms-block">
														<ul class="terms-list">
															<li>개인정보의 수집 및 이용목적: 세무상담 질문 등록 및 답변 수신</li>
															<li>수집하는 개인정보: 질문자 성명, 휴대폰 번호</li>
															<li>수집한 정보의 보유 및 이용기간 : 세무상담 등록한 질문 삭제시까지 보유</li>
															<li class="point">미동의 시 세무상담 질문이 등록되지 않습니다.</li>
															<li class="point">원활한 상담을 위해 필요한 경우 세무사가 휴대폰번호로 전화상담을 진행할 수 있습니다.</li>
														</ul>
														<ul class="radio-btn">
															<li>
																<label>
																	<input type="radio" id="agree_yes" name="agree" value="Y"> 동의함
																</label>
															</li>
															<li>
																<label>
																	<input type="radio" id="agree_yes" name="agree" checked value="N"> 동의안함
																</label>
															</li>
														</ul>
													</div>
												</td>
											</tr>
											<tr>
												<th scope="row">내용</th>
												<td><textarea id="cont" name="cont" style="width:100%; height:300px"></textarea></td>
											</tr>
											<tr>
												<th scope="row">첨부파일</th>
												<td>
													<div class="file-area">
														<div class="input-file">
															<input type="text" readonly="readonly" class="file-name">
															<div class="filebox-btn">
																<label for="filex" class="file-label">파일선택</label>
															</div>
															<input type="file" name="filex" id="filex" class="file-upload">
														</div>
													</div>
													<div class="file-del">
														<button class="delfile">삭제</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="td__btn-block">
								<button class="common-btn gray list">취소</button>
								<button class="common-btn regist">등록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
$(document).ready(function(){
	// 회사소개
	$(".nicednr").click(function() {
		window.open("http://www.nicednr.co.kr");
		return false;
	});

	// 제휴문의
	$(".UG_A0411").click(function() {
		fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
		return false;
	});

	// 개인정보처리방침
	$(".UG_A0131").click(function() {
		fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
		return false;
	});

	// 이용약관
	$(".UG_A0121").click(function() {
		fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
		return false;
	});

	// 고객센터
	$(".UG_A0111").click(function() {
		f_location_href_nosession("../ug/UG_A0111.html");
		return false;
	});
	
	$(".tax_bill").click(function() {
		window.open("http://www.nicedata.co.kr/ti/TI_10000.html");
		return false;
	});
	
	$(".check_biz").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_30401.html");
		return false;
	});
	
	$(".sgic").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_40601.html");
		return false;
	});
});
</script>
<div id="td__footer_wrap">
	<div class="td__footer">
		<div class="td__footer-top">
			<ul>
				<li><a href="javascript:;" class="nicednr">회사소개</a></li>
				<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
				<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
				<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
				<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
				<li class="mo_right">
					<a href="https://t-m.taxdiet.co.kr/nm/NM_20001.html">
						<div class="mo_img">
							<img src="/images/td/common/ico_mobile.png" alt=""/>
						</div>
						모바일버전
					</a>
				</li>
				</ul>
		</div>
		<div class="td__footer-bottom">
			<ul>
				<li>NICE 디앤알(주)</li>
				<li>대표 : 강용구</li>
				<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
				<li>사업자등록번호 : 107-87-08207</li>
				<li class="last">서울특별시 서대문구 충정로 36 7층</li>
				<li>TEL : 1588-5659</li>
				<li class="last">FAX : 788-9001</li>
			</ul>
		</div>
	</div>
</div>
<div class="common-quick-menu qm-sub">
	<ul>
		<li class="tax_bill">
			<a href="#none">
				<img src="/images/common/quick_icon_1.png" alt="전자세금계산서"/>
				전자세금<br />계산서
			</a>
		</li>
		<li class="check_biz">
			<a href="#none">
				<img src="/images/common/quick_icon_2.png" alt="휴폐업조회"/>
				휴폐업<br />조회
			</a>
		</li>
		<li class="sgic">
			<a href="#none">
				<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내"/>
				서울보증보험<br />안내
			</a>
		</li>
	</ul>
</div>
<!-- //footer_n -->	
<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용" style="display:none"></iframe>
<script type="text/javascript" src="/js/imageChecker.js"></script>
<script type="text/javascript">


var title = document.title;
document.title	= title + "·"; 



ImageNotExistProcess.process("boardBox");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36649342-23');
</script></div>
</form>
</body>
</html>