
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: SD_30211(종합소득세자가신고 > 신고절차미리보기)</title>

<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.js"></script>
<script src="/js/libs/jquery.placeholder.js"></script>
<script src="/js/libs/jquery-ui.js"></script>
<script src="/js/moment.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/browserVersion.js"></script>
<script src="/js/libs/jquery.easing.1.3.js"></script>
<script src="/js/libs/jquery.mask.js"></script>

<script src="/js/libs/jquery.cookie.js"></script>
<script src="/js/cookie.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F3401425D07331D0019263B40013B";

		location.href="../cm/nTdLogin.html?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A2D5910065E0016262341250F130D2100204935215D3F07" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.html?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://t-renewal.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://t-renewal.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript" src="/js/ta_common.js"></script>
<script type="text/javascript">
$(function(){
	$(".dwn").click(function() {
		var dwnId = $(this).attr("id");
		var fileName = "";
		if (dwnId == "sndr") {
			fileName = "신고자정보확인.mp4";
		} else if (dwnId == "icmAmt") {
			fileName = "소득금액확인.mp4";
		} else if (dwnId == "ddct") {
			fileName = "인적공제입력.mp4";
		} else if (dwnId == "simple") {
			fileName = "간편장부작성.mp4";
		} else {
			return false;
		}

		$('#fileName').val(fileName);
		$('#form').attr('enctype', 'application/x-www-form-urlencoded');

		f_form_submit("../vt/VT_30411_DN.html", "7F3401425D07331D0019263B40013B");

		progress.stop();
	});
});
</script>
</head>
<body>
	<div id="wrap board-view">
		<script type="text/javascript">
$(function(){
    //메뉴  클릭시 프로그레스 처리
    $(".logo, .mypage").find("a").click(function(){ progress.start();});
    
  	//메뉴  클릭시 프로그레스 처리
    $(".dep01, .dep02").find("a").click(function(){
    	
    	if($(this).attr("target") != "_blank" ) {
    		progress.start();
    	}
    });
        
});
</script>

	<!-- header_n -->

	<div id="wrap">
		<div id="td__header_wrap">
			<div class="td__header">
				<div class="td__header-depth1">
					<ul class="item5">
					<li >
								<a href="javascript:f_location_href_nosession('../vr/VR_03002.html');">부가세환급지원</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
						<li class="active">
								<a href="javascript:f_location_href_nosession('../sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../as/AS_02101_SL.html');">세무상담</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
				</div>
				<div class="td__header-block">
                    <div class="td__header-top">
						<div class="td__inner-container">
							<h1>
								<a href="../cm/main.html">
									<img src="/images/td/common/sub_logo.gif" alt="로고">
								</a>
							</h1>
							<div class="login-area">
								<div class="login-inner">
								<ul class="login-btn">
											<li>
													<a href="javascript:f_location_href_nosession('../my/MY_B0111.html');" class="progress">마이페이지</a>
												</li>
											</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
							</div>
						</div>
					</div>
					<div class="td__header-bottom">
						<div class="td__header-depth2">
							<ul>
							<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30112.html');">종합소득세 정의</a>
										</li>
									<li class="active">
											<a href="javascript:f_location_href_nosession('../sd/SD_30211.html');">신고절차 미리보기</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30411.html');">간편장부 작성</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30511.html');">신고서 작성</a>
										</li>
									</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //header_n -->
<script type="text/javascript" src="/js/niceTopMenu.js"></script><div id="td__container">
			<div class="td__contents_wrap">
                <form name="form" id="form" method="post">
				<input type="hidden" id="fileName" name="fileName"/>
				<div class="td__contents">
                    <div class="sohotex-wrap">
                        <h1 class="ta-subpage-title">
                        	신고절차 미리보기
                        	<div class="notice-btn">
                                <a href="javascript:f_call_30211_pop1('7F3401425D07331D0019263B40013B');" class="in_btn">종합소득세 신고 왜 필요하죠?</a>
                            </div>
                        </h1>
                        <div class="ta-preview">
                            <div class="ta-total-preview-block">
                                <h3><i class="ta-title-bul2"></i>진행순서</h3>
                                <div class="ta-preview-flow">
                                    <ul>
                                        <li class="ta-preview-flow1">
                                            <div class="ta-preview-flow-number">
                                                <span>01</span>
                                            </div>
                                            <p>회원가입<br>or 로그인</p>
                                        </li>
                                        <li class="ta-preview-flow2">
                                            <div class="ta-preview-flow-number">
                                                <span>02</span>
                                            </div>
                                            <p>신고자정보 확인</p>
                                        </li>
                                        <li class="ta-preview-flow3">
                                            <div class="ta-preview-flow-number">
                                                <span>03</span>
                                            </div>
                                            <p>소득금액 확인</p>
                                        </li>
                                        <li class="ta-preview-flow4">
                                            <div class="ta-preview-flow-number">
                                                <span>04</span>
                                            </div>
                                            <p>소득공제 <br>세액공제 확인</p>
                                        </li>
                                        <li class="ta-preview-flow5">
                                            <div class="ta-preview-flow-number">
                                                <span>05</span>
                                            </div>
                                            <p>신고파일 생성</p>
                                        </li>
                                        <li class="ta-preview-flow6">
                                            <div class="ta-preview-flow-number">
                                                <span>06</span>
                                            </div>
                                            <p>신고완료<br>(납부)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ta-total-preview-block">
                                <h3><i class="ta-title-bul2"></i>동영상 가이드</h3>
                                <div class="ta-total-preview-video">
                                    <ul>
                                        <li class="ta-preview-video1">
                                            <a href="javascript:;" id="sndr" class="dwn">
                                                <span>동영상 매뉴얼</span>
                                                <h4>
                                                    신고자정보 <br>확인
                                                </h4>
                                            </a>
                                        </li>
                                        <li class="ta-preview-video2">
                                            <a href="javascript:;" id="icmAmt" class="dwn">
                                                <span>동영상 매뉴얼</span>
                                                <h4>
                                                    소득금액 확인
                                                </h4>
                                            </a>
                                        </li>
                                        <li class="ta-preview-video3">
                                            <a href="javascript:;" id="ddct" class="dwn">
                                                <span>동영상 매뉴얼</span>
                                                <h4>
                                                    인적공제 입력
                                                </h4>
                                            </a>
                                        </li>
                                        <li class="ta-preview-video4">
                                            <a href="javascript:;" id="simple" class="dwn">
                                                <span>동영상 매뉴얼</span>
                                                <h4>
                                                    간편장부 작성
                                                </h4>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </form>
		<script type="text/javascript">
$(document).ready(function(){
	// 회사소개
	$(".nicednr").click(function() {
		window.open("http://www.nicednr.co.kr");
		return false;
	});

	// 제휴문의
	$(".UG_A0411").click(function() {
		fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
		return false;
	});

	// 개인정보처리방침
	$(".UG_A0131").click(function() {
		fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
		return false;
	});

	// 이용약관
	$(".UG_A0121").click(function() {
		fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
		return false;
	});

	// 고객센터
	$(".UG_A0111").click(function() {
		f_location_href_nosession("../ug/UG_A0111.html");
		return false;
	});
	
	$(".tax_bill").click(function() {
		window.open("http://www.nicedata.co.kr/ti/TI_10000.html");
		return false;
	});
	
	$(".check_biz").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_30401.html");
		return false;
	});
	
	$(".sgic").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_40601.html");
		return false;
	});
});
</script>
<div id="td__footer_wrap">
	<div class="td__footer">
		<div class="td__footer-top">
			<ul>
				<li><a href="javascript:;" class="nicednr">회사소개</a></li>
				<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
				<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
				<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
				<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
				<li class="mo_right">
					<a href="https://t-m.taxdiet.co.kr/nm/NM_20001.html">
						<div class="mo_img">
							<img src="/images/td/common/ico_mobile.png" alt=""/>
						</div>
						모바일버전
					</a>
				</li>
				</ul>
		</div>
		<div class="td__footer-bottom">
			<ul>
				<li>NICE 디앤알(주)</li>
				<li>대표 : 강용구</li>
				<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
				<li>사업자등록번호 : 107-87-08207</li>
				<li class="last">서울특별시 서대문구 충정로 36 7층</li>
				<li>TEL : 1588-5659</li>
				<li class="last">FAX : 788-9001</li>
			</ul>
		</div>
	</div>
</div>
<div class="common-quick-menu qm-sub">
	<ul>
		<li class="tax_bill">
			<a href="#none">
				<img src="/images/common/quick_icon_1.png" alt="전자세금계산서"/>
				전자세금<br />계산서
			</a>
		</li>
		<li class="check_biz">
			<a href="#none">
				<img src="/images/common/quick_icon_2.png" alt="휴폐업조회"/>
				휴폐업<br />조회
			</a>
		</li>
		<li class="sgic">
			<a href="#none">
				<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내"/>
				서울보증보험<br />안내
			</a>
		</li>
	</ul>
</div>
<!-- //footer_n -->	
<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용" style="display:none"></iframe>
<script type="text/javascript" src="/js/imageChecker.js"></script>
<script type="text/javascript">


var title = document.title;
document.title	= title + "·"; 



ImageNotExistProcess.process("boardBox");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36649342-23');
</script></div>
</body>
</html>