
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: SD_30511(종합소득세자가신고 > 신고서작성)</title>


<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.js"></script>
<script src="/js/libs/jquery.placeholder.js"></script>
<script src="/js/libs/jquery-ui.js"></script>
<script src="/js/moment.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/browserVersion.js"></script>
<script src="/js/libs/jquery.easing.1.3.js"></script>
<script src="/js/libs/jquery.mask.js"></script>

<script src="/js/libs/jquery.cookie.js"></script>
<script src="/js/cookie.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F3401425D07331D0026263B40013B";

		location.href="../cm/nTdLogin.html?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A2D5910065E0016262341250F130D2100204935215D3F07" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.html?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://t-renewal.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://t-renewal.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript" src="/js/ta_common.js"></script>
<script type="text/javascript">
var systemMode = "develope";
$(function(){
	$('#returnDt').mask('9999-99-99');
	$('#openDt').mask('9999-99-99');
	$('#closeDt').mask('9999-99-99');
	$("#homeTaxYn").val("N");

	fn.setHideShow();

	$("#naviStep2").click(function() {
		f_form_submit("../sd/SD_30521.html", "7F3401425D07331D0026263B40013B");
	});

	$("#naviStep3").click(function() {
		f_form_submit("../sd/SD_30561.html", "7F3401425D07331D0026263B40013B");
	});

	$("#naviStep4").click(function() {
		f_form_submit("../sd/SD_30571.html", "7F3401425D07331D0026263B40013B");
	});

	$("#naviStep5").click(function() {
		f_form_submit("../sd/SD_30581.html", "7F3401425D07331D0026263B40013B");
	});

	// 홈택스확인 버튼 click event
	$("#btnHomeTax").click(function() {
		fn.getHomeTaxData();
	});

	// 판단기준 click event
	$("#btnHelp").click(function() {
		fancybox_open_width("../sd/SD_30512.html", "500px", "7F3401425D07331D0026263B40013B", "yes");

		return false;
	});

	// 우편번호 찾기
	$(".btnZip").click(function(){
		if($(this).prop("title") == "biz") {
			$("#zipCodeId").val("bizZipCode");
			$("#addrId").val("bizAddr1");
		} else {
			$("#zipCodeId").val("ozipCode");
			$("#addrId").val("oaddr1");
		}

		WindowUtil.open({
			  width			: 610
			, height		: 600
			, scrollbars	: 1
			, resizable		: 0
			, windowName	: "zipcode"
			, windowURL		: "../cm/CM_00904_SL1.html"
		});
		return false;
	});

	// 관할세무서찾기
	$("#schTaxOffcNo").click(function() {
		fancybox_open_width("../vt/VT_30613_SL.html", "600px", "7F3401425D07331D0026263B40013B", "yes");

		return false;
	});

	// 업종코드 검색
	$("#schIndsCode").click(function() {
		fancybox_open_width("../vt/VT_30612_SL.html", "600px", "7F3401425D07331D0026263B40013B", "yes");

		return false;
	});

	// 제출방법 radio click event
	$("input:radio[name=sndMethod]").click(function() {
		if(systemMode == 'operation') {
			if($(this).val() == "M") {
				alert("준비중입니다.");
				$('input:radio[name=sndMethod]:radio[value="E"]').prop("checked", true);
			}
		}
	});

	// 저장 후 다음 click event
	$("#btnSave").click(function() {
		fn.save();
	});
});

var fn = {
	// 홈택스확인
	getHomeTaxData : function() {
		f_post_submit("../sd/SD_30511_SL.html", "7F3401425D07331D0026263B40013B", "f_call_result1");

		return false;
	},

	// 홈택스확인 결과팝업의 확인버튼 이벤트_checkOk
	checkOk : function() {
		var bkpDutyClCdNm = $("#bkpDutyClCdNm").val();
		if(bkpDutyClCdNm == "") {
			$('#bkpLblCls').val("N");
		} else {
			if(bkpDutyClCdNm == "간편장부대상자") {
				$('#bkpLblCls').val("2");
			} else if(bkpDutyClCdNm == "복식부기의무자") {
				//alert("복식부기의무자는 신고를 지원하지 않습니다.\n거래하는 세무사에 문의하시기 바랍니다.");
				$('#bkpLblCls').val("1");
			} else {
				$('#bkpLblCls').val("3");
			}
		}
		fn.setHideShow();
	},
	
	// 기장의무에 따른 화면셋팅
	setHideShow : function() {
		var bkpLblCls = $("#bkpLblCls").val();
		if(bkpLblCls == "2") {
			$(".bizAddrDiv").show();
			$(".returnMethodA").show();
			$(".returnMethodB").show();
			$(".returnMethodC").show();
			$(".returnMethodD").hide();
			$(".returnMethodX").hide();
			$(".returnMethodN").hide();
			$(".bkpLblCls").html("간편장부 작성");
		} else if(bkpLblCls == "1") {
			//alert("복식부기의무자는 신고를 지원하지 않습니다.\n거래하는 세무사에 문의하시기 바랍니다.");
			$(".bizAddrDiv").hide();
			$(".returnMethodA").hide();
			$(".returnMethodB").hide();
			$(".returnMethodC").hide();
			$(".returnMethodD").hide();
			$(".returnMethodX").show();
			$(".returnMethodN").hide();
			$(".bkpLblCls").html("복식부기장부 작성");
		} else if(bkpLblCls == "3") {
			// 사업장주소 안보이게..
			$(".bizAddrDiv").hide();
			$(".returnMethodA").hide();
			$(".returnMethodB").hide();
			$(".returnMethodC").hide();
			$(".returnMethodD").show();
			$(".returnMethodX").hide();
			$(".returnMethodN").hide();
			$(".bkpLblCls").html("비사업자(기타소득자)");
		} else if(bkpLblCls == "N") {
			$(".returnMethodA").hide();
			$(".returnMethodB").hide();
			$(".returnMethodC").hide();
			$(".returnMethodD").hide();
			$(".returnMethodX").hide();
			$(".returnMethodN").show();
			$(".bkpLblCls").html("좌측 홈택스 확인 버튼을 클릭하세요.");
		} else {
			$(".returnMethodA").hide();
			$(".returnMethodB").hide();
			$(".returnMethodC").hide();
			$(".returnMethodD").hide();
			$(".returnMethodX").hide();
			$(".returnMethodN").hide();
			$(".bkpLblCls").html("좌측 홈택스 확인 버튼을 클릭하세요.");
		}
	},

	// 홈택스확인 결과팝업의 확인버튼 이벤트_checkFail
	checkFail : function() {
		if($("#homeTaxRegYn").val() == "Y") {
			// 등록된 인증정보가 있음. 자료가져오기 팝업을 띄움
			src = '../vt/VT_30215.html';
		} else {
			// 등록된 인증정보가 없음. 인증정보등록 팝업을 띄움
			src = '../vt/VT_30214.html';
		}

		fancybox_open_width_height(src, "800px", "900px", "7F3401425D07331D0026263B40013B", "yes");

		return false;
	},

	// 인증정보등록 및 자료 가져오기 팝업에서 신규등록 팝업
	addInfoReg : function() {
		var w = 800;
		var h = 900;
		var winPos = f_open_window_pos(w, h);
		var left = winPos[0];
		var top = winPos[1];
	    
	    var uri = "http://t-renewal.nicesoho.co.kr/sc/SC_20301_D1.html?custInf=EIv8bkJp5Bl4MeYpwPwOo7RSTh1hmaz3OA3jDLXqg9mzvgJAjC%2FliovGCieK0jBWl1IU5ScWXgcjKIoNKC1kBJ73GrLW%2B5fX11YzyyMUGxk%3D&dummy=" + Math.random();
	    var options = "width=" + w + ", height=" + h + ",menubar=no,resizable=no,scrollbars=yes,status=no,toolbar=no, top=" + top + ", left=" + left;

	    openDialog(uri, "newPop", options, function(newPop) {
	    	fn.checkFail();
	    });
	},

	// 신고방법을 간편장부 선택시 간편장부 데이터가 없을때 팝업의 확인버튼 이벤트
	noSlData : function() {
		// 간편장부 작성화면으로 이동
		f_form_submit_nosession("../sd/SD_30411.html");
	},

	// 신고방법 중 간편장부 선택 이벤트
	returnMethod : function(val) {
		if(val == "A") {
			// 간편장부 데이터 조회
			f_post_submit("../sd/SD_30511_SL2.html", "7F3401425D07331D0026263B40013B", "f_call_result2");
		}
		else {
			var bkpDutyClCdNm = $("#bkpDutyClCdNm").val();

			if(bkpDutyClCdNm == "간편장부대상자") {
				alert("간편장부 신고를 하지 않으면 무기장가산세가 부과됩니다.");
			}
		}

		return false;
	},

	// 저장 후 다음
	save : function() {
		if(systemMode == 'operation') {
			if($("#homeTaxYn").val() == "N") {
				alert("정확한 신고를 위해 홈택스 자료확인을 하셔야 합니다.");
				return false;
			}
		}

		if($('#bkpLblCls').val() == "1") {
			alert("복식부기의무자는 신고를 지원하지 않습니다.\n거래하는 세무사에 문의하시기 바랍니다.");
			return false;
		} else if($('#bkpLblCls').val() == "N") {
			alert("신고 대상자가 아닙니다.");
			return false;
		}

		if(!$('input:radio[name=returnMethod]').is(':checked')) {
			alert("신고방법이 선택되지 않았습니다.");
			return false;
		}

		if(!$("#sndrName").val()) {
			alert("'성명'을 입력하지 않았습니다.");
			$("#sndrName").focus();
			return false;
		}

		// 사업장주소는 비사업자 신고가 아닐때만 체크
		if($("#bkpLblCls").val() != "3") {
			if($(":input:radio[name=returnMethod]:checked").val() == "D") {
				alert("기타소득만 있는 종합소득자는 비사업자로만 신고하셔야 합니다.");
				return false;
			}
			
			if(!$("#bizZipCode").val()) {
				alert("'사업장주소 우편번호'를 입력하지 않았습니다.");
				$("#bizZipCode").focus();
				return false;
			}

			if(!$("#bizAddr1").val()) {
				alert("'사업장주소 주소'를 입력하지 않았습니다.");
				$("#bizAddr1").focus();
				return false;
			}

			if(!$("#bizAddr2").val()) {
				alert("'사업장주소 상세주소'를 입력하지 않았습니다.");
				$("#bizAddr2").focus();
				return false;
			}
		}

		if(!$("#ozipCode").val()) {
			alert("'거주지주소 우편번호'를 입력하지 않았습니다.");
			$("#ozipCode").focus();
			return false;
		}

		if(!$("#oaddr1").val()) {
			alert("'거주지주소 주소'를 입력하지 않았습니다.");
			$("#oaddr1").focus();
			return false;
		}

		if(!$("#oaddr2").val()) {
			alert("'거주지주소 상세주소'를 입력하지 않았습니다.");
			$("#oaddr2").focus();
			return false;
		}

		var openDt = $("#openDt").val();
		var closeDt = $("#closeDt").val();

		if(!StringUtil.isEmpty(openDt)) {
			if(parseInt(openDt.substring(0, 4)) > parseInt($("#returnYear").val())) {
				alert("이번 연도 신고대상자가 아닙니다.");
				return false;
			}
		}
		if(!StringUtil.isEmpty(closeDt)) {
			if(parseInt(closeDt.substring(0, 4)) < parseInt($("#returnYear").val())) {
				alert("이번 연도 신고대상자가 아닙니다.");
				return false;
			}
		}
		if(!StringUtil.isEmpty(openDt) && !StringUtil.isEmpty(closeDt)) {
			if(DateUtil.getBetweenDates(openDt, closeDt) < 0) {
				alert("개업일자가 폐업일자 이후 일수는 없습니다.");
				return;
			}
		}
		
		var msg	= "저장하시겠습니까?";		

		if (confirm(msg)) {
			f_post_submit("../sd/SD_30511_IN.html", "7F3401425D07331D0026263B40013B", "f_call_result3");

		}

		return false;
	},

	// 관할세무서 셋팅
	setTaxOffc : function(taxOffcNo, taxOffcNm) {
		$.fancybox.close();
		$("#taxOffcNo").val(taxOffcNo);
		$("#taxOffcNm").val(taxOffcNm);
	},

	// 업종코드 셋팅
	getIndsDeemInf : function(indsCode, bizCond, bizItem) {
		$.fancybox.close();
		$("#indsCode").val(indsCode);
		$("#bizCond").val(bizCond);
		$("#bizItem").val(bizItem);
	}
}

var openDialog = function(uri, name, options, closeCallback) {
    var newPop = window.open(uri, name, options);
    var interval = window.setInterval(function() {
        try {
            if (newPop == null || newPop.closed) {
                window.clearInterval(interval);
                closeCallback(newPop);
            }
        }
        catch (e) {
        }
    }, 1000);
    
    if(window.focus){
 		setTimeout(function(){
 			newPop.focus();
 		}, 1000);
 	}

    return newPop;
};

function f_call_result1(result) {
	if (result.status) {
		var width = "";
		var height = "";
		var popType = "";
		var sdCitrhVO = result.sdCitrhVO;

		if(sdCitrhVO != null) {
			$("#homeTaxRegYn").val("Y");

			// 사업소득 갯수 체크
			if(sdCitrhVO.bizIcmCnt > 1) {
				$("#homeTaxYn").val("N");
				width = "410px";
				height = "230px";
				popType = "checkIcmFail";
			} else {
				if(sdCitrhVO.scrapNo != null) {
					$("#homeTaxYn").val("Y");
					$("#bkpDutyClCdNm").val(sdCitrhVO.bkpDutyClCdNm);
					$("#dfntXpsrtClCdNm").val(sdCitrhVO.dfntXpsrtClCdNm);
					$("#nregAdttxApplcYn").val(sdCitrhVO.nregAdttxApplcYn);

					width = "300px";
					height = "200px";
					popType = "checkOk";
				} else {
					$("#homeTaxYn").val("N");
					width = "400px";
					height = "260px";
					popType = "checkFail";
				}
			}
		} else {
			$("#homeTaxRegYn").val("N");
			$("#homeTaxYn").val("N");

			width = "400px";
			height = "260px";
			popType = "checkFail";
		}

		// 홈택스확인 결과팝업
		fancybox_open_width_height("../sd/SD_30513.html?popType=" + popType, width, height, "7F3401425D07331D0026263B40013B", "yes");

		return false;
	}
	else if (result.status_msg != "") {
		alert(result.status_msg);
	}
	else {
		// 조회중 오류가 발생하였습니다.
		alert("조회중 오류가 발생하였습니다.");
	}
}

function f_call_result2(result) {
	if (result.status) {
		var popType = "noSlData";

		fancybox_open_width_height("../sd/SD_30513.html?popType=" + popType, "400px", "250px", "7F3401425D07331D0026263B40013B", "yes");
	}
	else if (result.status_msg != "") {
		alert(result.status_msg);
	}
	else {
		// 조회중 오류가 발생하였습니다.
		alert("조회중 오류가 발생하였습니다.");
	}
}

function f_call_result3(result) {
	if (result.status) {
		alert("저장되었습니다.");

		f_form_submit(result.nextPgmUrl, "7F3401425D07331D0026263B40013B");
	}
	else if (result.status_msg != "") {
		alert(result.status_msg);
	}
	else {
		// 저장시 오류가 발생하였습니다.
		alert("저장시 오류가 발생하였습니다.");
	}
}
</script>
</head>
<body>
<form id="form" name="form" method="post">
<input type="hidden" name="stepStatus" value="100" />
<input type="hidden" name="returnYear" id="returnYear" value="2019" />
<input type="hidden" name="returnDt" value="20200427" />
<input type="hidden" name="homeTaxYn" id="homeTaxYn" value="N" />
<input type="hidden" name="bizAddrCls" id="bizAddrCls" value="N" />
<input type="hidden" name="zipCodeId" id="zipCodeId" />
<input type="hidden" name="addrId" id="addrId" />
<input type="hidden" name="bkpLblCls" id="bkpLblCls" value="Y"  />

<!-- 홈택스 스크랩핑 관련 데이터 -->
<input type="hidden" name="bkpDutyClCdNm" id="bkpDutyClCdNm" />			<!-- 기장의무구분 -->
<input type="hidden" name="dfntXpsrtClCdNm" id="dfntXpsrtClCdNm" />		<!-- 추계신고시 적용경비율 -->
<input type="hidden" name="nregAdttxApplcYn" id="nregAdttxApplcYn" />	<!-- 추계신고시 가산세 적용여부 -->
<input type="hidden" name="homeTaxRegYn" id="homeTaxRegYn" />			<!-- 홈택스 계정 등록여부 -->

	<div id="wrap board-view">
		<script type="text/javascript">
$(function(){
    //메뉴  클릭시 프로그레스 처리
    $(".logo, .mypage").find("a").click(function(){ progress.start();});
    
  	//메뉴  클릭시 프로그레스 처리
    $(".dep01, .dep02").find("a").click(function(){
    	
    	if($(this).attr("target") != "_blank" ) {
    		progress.start();
    	}
    });
        
});
</script>

	<!-- header_n -->

	<div id="wrap">
		<div id="td__header_wrap">
			<div class="td__header">
				<div class="td__header-depth1">
					<ul class="item5">
					<li >
								<a href="javascript:f_location_href_nosession('../vr/VR_03002.html');">부가세환급지원</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
						<li class="active">
								<a href="javascript:f_location_href_nosession('../sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../as/AS_02101_SL.html');">세무상담</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
				</div>
				<div class="td__header-block">
                    <div class="td__header-top">
						<div class="td__inner-container">
							<h1>
								<a href="../cm/main.html">
									<img src="/images/td/common/sub_logo.gif" alt="로고">
								</a>
							</h1>
							<div class="login-area">
								<div class="login-inner">
								<ul class="login-btn">
											<li>
													<a href="javascript:f_location_href_nosession('../my/MY_B0111.html');" class="progress">마이페이지</a>
												</li>
											</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
							</div>
						</div>
					</div>
					<div class="td__header-bottom">
						<div class="td__header-depth2">
							<ul>
							<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30112.html');">종합소득세 정의</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30211.html');">신고절차 미리보기</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../sd/SD_30411.html');">간편장부 작성</a>
										</li>
									<li class="active">
											<a href="javascript:f_location_href_nosession('../sd/SD_30511.html');">신고서 작성</a>
										</li>
									</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //header_n -->
<script type="text/javascript" src="/js/niceTopMenu.js"></script><div id="td__container">
			<div class="td__contents_wrap">
				<div class="td__contents">
					<div class="sohotex-wrap">
						<h1 class="ta-subpage-title mb-small">
							신고서 작성
							<div class="notice-btn">
                                <a href="javascript:f_call_30211_pop1('7F3401425D07331D0026263B40013B');" class="in_btn">종합소득세 신고 왜 필요하죠?</a>
                            </div>
						</h1>
						<div class="ta-total-flowbox">
							<ul>
								<li class="is-active">
									<p>신고자 정보</p>
								</li>
								<li>
									<p><a href="javascript:;" id="naviStep2"><b>소득 및 경비 확인</b></a></p>
                                    </li>
								<li>
									<p><a href="javascript:;" id="naviStep3"><b>소득공제등 확인</b></a></p>
                                    </li>
								<li>
									<p><a href="javascript:;" id="naviStep4"><b>기부금 확인</b></a></p>
                                    </li>
								<li>
									<p><a href="javascript:;" id="naviStep5"><b>납부(환급)액 확인</b></a></p>
                                    </li>
								<li>
									<p>신고파일 생성</p>
								</li>
							</ul>
							<p class="flowbox-inner-text">※ 진행 중 이전 작성내용을 수정하려면 해당 단계를 클릭하세요!</p>
							<p class="flowbox-inner-text">※ 신고서 작성은 홈택스에 사업자번호가 등록되어 있는 경우에만 진행됩니다.(일반 개인은 신고 불가)</p>
						</div>
						<div class="ta-total-reinfo-block">
							<div class="ta-total-reinfo-title">
								<h3><i class="ta-title-bul2"></i>신고자 정보</h3>
								<span>* 는 필수정보입니다.</span>
							</div>
						</div>
						<div class="ta-total-reinfo-block">
							<div class="ta-total-reinfo-input">
								<div class="reinfo-section">
									<div class="reinfo-colum">
										<div class="reinfo-title">신고연도</div>
										<div class="reinfo-short-content">
											2019년
										</div>
									</div>
									<div class="reinfo-colum">
										<div class="reinfo-title">신고일</div>
										<div class="reinfo-short-content">
											<input type="text" name="returnDt" id="returnDt" class="re_type0 width-140" value="20200427" disabled>
										</div>
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-title"><span>*</span>기장의무</div>
									<div class="reinfo-full-content">
										<div class="reinfo-inner-btn fl_left first">
											<a href="javascript:;" id="btnHomeTax" class="width-95">홈택스 확인</a>
										</div>
										<ul class="reinfo-radio horizontal">
											<li>
												<label class="bkpLblCls"></label>
											</li>
										</ul>
										<div class="reinfo-inner-btn fl_right end">
											<a href="javascript:;" id="btnHelp" class="width-95 blue_line">판단기준</a>
										</div>
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-title"><span>*</span>신고방법</div>
									<div class="reinfo-full-content">
										<ul class="reinfo-radio returnMethod">
											<li class="returnMethodA">
												<label>
													<input type="radio" name="returnMethod" value="A" id="returnMethod" onclick="fn.returnMethod(this.value);" >
													작성한 <b style="color:#ff4b4b;">간편장부</b>의 소득과 비용을 이용해서  신고
												</label>
											</li>
											<li class="returnMethodB">
												<label>
													<input type="radio" name="returnMethod" value="B" id="returnMethod" onclick="fn.returnMethod(this.value);" >
													국세청에서 제시하는 <b style="color:#ff4b4b;">기준경비율</b>로 소득과 비용을 계산해서 신고
												</label>
											</li>
											<li class="returnMethodC">
												<label>
													<input type="radio" name="returnMethod" value="C" id="returnMethod" onclick="fn.returnMethod(this.value);" checked="checked">
													국세청에서 제시하는 <b style="color:#ff4b4b;">단순경비율</b>로 소득과 비용을 계산해서 신고
												</label>
											</li>
											<li class="returnMethodD">
												<label>
													<input type="radio" name="returnMethod" value="D" id="returnMethod" onclick="fn.returnMethod(this.value);" >
													<b style="color:#ff4b4b;">기타소득</b>만 있는 종합소득자가 신고
												</label>
											</li>
											<li class="returnMethodX" style="padding-top:7px">
												<label>
													<b style="color:#ff4b4b;">신고를 지원하지 않습니다. 거래하는 세무사에게 문의하세요!</b>
												</label>
											</li>
											<li class="returnMethodN">
												<label style="color:#ff4b4b;">
													신고 대상자가 아닙니다.
												</label>
											</li>
										</ul>
									</div>
								</div>

								<div class="reinfo-section">
									<div class="reinfo-title"><span>*</span>성명</div>
									<div class="reinfo-full-content">
										<input type="text" name="sndrName" id="sndrName" class="width-225" value="테스트" maxlength="30">
									</div>
								</div>
								<div class="reinfo-section bizAddrDiv" >
									<div class="reinfo-title"><span>*</span>사업장 주소</div>
									<div class="reinfo-full-content">
										<input type="text" name="bizZipCode" id="bizZipCode" class="width-225 fl_left" value="07237" readOnly="true" style="background-color: #f2f2f2">
										<div class="reinfo-inner-btn fl_left">
											<a href="javascript:;" id="btnZip" title="biz" class="width-95 gray btnZip">우편번호</a>
										</div>
									</div>
								</div>
								<div class="reinfo-section bizAddrDiv" >
									<div class="reinfo-title">&nbsp;</div>
									<div class="reinfo-full-content">
										<input type="text" name="bizAddr1" id="bizAddr1" class="width-330" value="서울특별시 영등포구 은행로 3 (여의도동)">
										<input type="text" name="bizAddr2" id="bizAddr2" class="width-225" placeholder="나머지 주소"  value="123">
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-title"><span>*</span>거주지 주소</div>
									<div class="reinfo-full-content">
										<input type="text" name="zipCode" id="ozipCode" class="width-225 fl_left" value="07237" readOnly="true" style="background-color: #f2f2f2">
										<div class="reinfo-inner-btn fl_left">
											<a href="javascript:;" id="btnZip" class="width-95 gray btnZip">우편번호</a>
										</div>
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-title">&nbsp;</div>
									<div class="reinfo-full-content">
										<input type="text" name="addr1" id="oaddr1" class="width-330" value="서울특별시 영등포구 은행로 11 (여의도동)">
										<input type="text" name="addr2" id="oaddr2" class="width-225" placeholder="나머지 주소"  value="5555">
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-title">관할 세무서</div>
									<div class="reinfo-short-content">
										<input type="hidden" name="taxOffcNo" id="taxOffcNo" value=""/>
										<input type="text" name="taxOffcNm" id="taxOffcNm" class="width-225 fl_left" disabled value="">
										<div class="reinfo-inner-btn fl_left">
											<a href="javascript:;" id="schTaxOffcNo" class="width-95">관할세무서찾기</a>
										</div>
									</div>
								</div>
								<div class="reinfo-section">
									<div class="reinfo-colum">
										<div class="reinfo-title">개업일자</div>
										<div class="reinfo-short-content">
											<input type="text" name="openDt" id="openDt" class="_datepick re_type0 width-140" value="">
											<img src="../../../images/sub/tax/common/calendar_icon.gif" alt="ICON" class="ta-cal-icon total">
										</div>
									</div>
									<div class="reinfo-colum">
										<div class="reinfo-title">폐업일자</div>
										<div class="reinfo-short-content">
											<input type="text" name="closeDt" id="closeDt" class="_datepick re_type0 width-140" value="">
											<img src="../../../images/sub/tax/common/calendar_icon.gif" alt="ICON" class="ta-cal-icon total">
										</div>
									</div>
								</div>
								<!-- 우편신고 삭제로 인해 제출방법은 전자신고로 고정 -->
								<input type="hidden" name="sndMethod" value="E" />
							</div>
						</div>
						<ul class="ta-total-btn-container mt-30">
							<li>
								<input type="button" value="저장 후 다음" id="btnSave" class="base_btn_color">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
$(document).ready(function(){
	// 회사소개
	$(".nicednr").click(function() {
		window.open("http://www.nicednr.co.kr");
		return false;
	});

	// 제휴문의
	$(".UG_A0411").click(function() {
		fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
		return false;
	});

	// 개인정보처리방침
	$(".UG_A0131").click(function() {
		fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
		return false;
	});

	// 이용약관
	$(".UG_A0121").click(function() {
		fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
		return false;
	});

	// 고객센터
	$(".UG_A0111").click(function() {
		f_location_href_nosession("../ug/UG_A0111.html");
		return false;
	});
	
	$(".tax_bill").click(function() {
		window.open("http://www.nicedata.co.kr/ti/TI_10000.html");
		return false;
	});
	
	$(".check_biz").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_30401.html");
		return false;
	});
	
	$(".sgic").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_40601.html");
		return false;
	});
});
</script>
<div id="td__footer_wrap">
	<div class="td__footer">
		<div class="td__footer-top">
			<ul>
				<li><a href="javascript:;" class="nicednr">회사소개</a></li>
				<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
				<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
				<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
				<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
				<li class="mo_right">
					<a href="https://t-m.taxdiet.co.kr/nm/NM_20001.html">
						<div class="mo_img">
							<img src="/images/td/common/ico_mobile.png" alt=""/>
						</div>
						모바일버전
					</a>
				</li>
				</ul>
		</div>
		<div class="td__footer-bottom">
			<ul>
				<li>NICE 디앤알(주)</li>
				<li>대표 : 강용구</li>
				<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
				<li>사업자등록번호 : 107-87-08207</li>
				<li class="last">서울특별시 서대문구 충정로 36 7층</li>
				<li>TEL : 1588-5659</li>
				<li class="last">FAX : 788-9001</li>
			</ul>
		</div>
	</div>
</div>
<div class="common-quick-menu qm-sub">
	<ul>
		<li class="tax_bill">
			<a href="#none">
				<img src="/images/common/quick_icon_1.png" alt="전자세금계산서"/>
				전자세금<br />계산서
			</a>
		</li>
		<li class="check_biz">
			<a href="#none">
				<img src="/images/common/quick_icon_2.png" alt="휴폐업조회"/>
				휴폐업<br />조회
			</a>
		</li>
		<li class="sgic">
			<a href="#none">
				<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내"/>
				서울보증보험<br />안내
			</a>
		</li>
	</ul>
</div>
<!-- //footer_n -->	
<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용" style="display:none"></iframe>
<script type="text/javascript" src="/js/imageChecker.js"></script>
<script type="text/javascript">


var title = document.title;
document.title	= title + "·"; 



ImageNotExistProcess.process("boardBox");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36649342-23');
</script></div>
</form>
</body>
</html>