.width-5 {
  width: 5px !important; }

.width-10 {
  width: 10px !important; }

.width-15 {
  width: 15px !important; }

.width-20 {
  width: 20px !important; }

.width-25 {
  width: 25px !important; }

.width-30 {
  width: 30px !important; }

.width-35 {
  width: 35px !important; }

.width-40 {
  width: 40px !important; }

.width-45 {
  width: 45px !important; }

.width-50 {
  width: 50px !important; }

.width-55 {
  width: 55px !important; }

.width-60 {
  width: 60px !important; }

.width-65 {
  width: 65px !important; }

.width-70 {
  width: 70px !important; }

.width-75 {
  width: 75px !important; }

.width-80 {
  width: 80px !important; }

.width-85 {
  width: 85px !important; }

.width-90 {
  width: 90px !important; }

.width-95 {
  width: 95px !important; }

.width-100 {
  width: 100px !important; }

.width-105 {
  width: 105px !important; }

.width-110 {
  width: 110px !important; }

.width-115 {
  width: 115px !important; }

.width-120 {
  width: 120px !important; }

.width-125 {
  width: 125px !important; }

.width-130 {
  width: 130px !important; }

.width-135 {
  width: 135px !important; }

.width-140 {
  width: 140px !important; }

.width-145 {
  width: 145px !important; }

.width-150 {
  width: 150px !important; }

.width-155 {
  width: 155px !important; }

.width-160 {
  width: 160px !important; }

.width-165 {
  width: 165px !important; }

.width-170 {
  width: 170px !important; }

.width-175 {
  width: 175px !important; }

.width-180 {
  width: 180px !important; }

.width-185 {
  width: 185px !important; }

.width-190 {
  width: 190px !important; }

.width-195 {
  width: 195px !important; }

.width-200 {
  width: 200px !important; }

.width-205 {
  width: 205px !important; }

.width-210 {
  width: 210px !important; }

.width-215 {
  width: 215px !important; }

.width-220 {
  width: 220px !important; }

.width-225 {
  width: 225px !important; }

.width-230 {
  width: 230px !important; }

.width-235 {
  width: 235px !important; }

.width-240 {
  width: 240px !important; }

.width-245 {
  width: 245px !important; }

.width-250 {
  width: 250px !important; }

.width-255 {
  width: 255px !important; }

.width-260 {
  width: 260px !important; }

.width-265 {
  width: 265px !important; }

.width-270 {
  width: 270px !important; }

.width-275 {
  width: 275px !important; }

.width-280 {
  width: 280px !important; }

.width-285 {
  width: 285px !important; }

.width-290 {
  width: 290px !important; }

.width-295 {
  width: 295px !important; }

.width-300 {
  width: 300px !important; }

.width-305 {
  width: 305px !important; }

.width-310 {
  width: 310px !important; }

.width-315 {
  width: 315px !important; }

.width-320 {
  width: 320px !important; }

.width-325 {
  width: 325px !important; }

.width-330 {
  width: 330px !important; }

.width-335 {
  width: 335px !important; }

.width-340 {
  width: 340px !important; }

.width-345 {
  width: 345px !important; }

.width-350 {
  width: 350px !important; }

.width-355 {
  width: 355px !important; }

.width-360 {
  width: 360px !important; }

.width-365 {
  width: 365px !important; }

.width-370 {
  width: 370px !important; }

.width-375 {
  width: 375px !important; }

.width-380 {
  width: 380px !important; }

.width-385 {
  width: 385px !important; }

.width-390 {
  width: 390px !important; }

.width-395 {
  width: 395px !important; }

.width-400 {
  width: 400px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.inner-container {
  width: 1000px;
  margin: 0 auto; }
  .inner-container::after {
    content: '';
    display: table;
    clear: both; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }
  .text-center img {
    display: inline-block; }

.text-right {
  text-align: right !important; }

.number-color {
  color: "Noto Sans Korean" !important; }

.push-left {
  float: left; }
  .push-left img, .push-left p {
    display: inline-block;
    vertical-align: middle; }

.push-right {
  float: right; }
  .push-right img, .push-right p {
    display: inline-block;
    vertical-align: middle; }

.sub-title {
  font-size: 26px;
  margin-bottom: 30px; }
  .sub-title::after {
    content: '';
    display: table;
    clear: both; }
  .sub-title:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin-top: 25px;
    background: "Noto Sans Korean"; }
  .sub-title h2, .sub-title p {
    display: inline-block;
    line-height: 26px; }
  .sub-title p {
    font-size: 15px;
    margin-left: 8px; }
    .sub-title p span {
      color: "Noto Sans Korean"; }

.caution-text {
  color: #ff6c00; }

textarea {
  border: 1px solid #dedede;
  width: 100%;
  resize: none;
  display: block;
  overflow-y: auto; }
  textarea::-webkit-input-placeholder {
    color: #9d9d9d; }
  textarea::-moz-placeholder {
    color: #9d9d9d; }
  textarea::-moz-placeholder {
    color: #9d9d9d; }
  textarea:-ms-input-placeholder {
    color: #9d9d9d; }
  textarea:-moz-placeholder {
    color: #9d9d9d; }

input[type="text"], input[type="file"], input[type="password"] {
  border: 1px solid #dedede;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  input[type="text"]::-webkit-input-placeholder, input[type="file"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
    color: #9d9d9d; }
  input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"]:-ms-input-placeholder, input[type="file"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
    color: #9d9d9d; }
  input[type="text"]:-moz-placeholder, input[type="file"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"].calendar, input[type="file"].calendar, input[type="password"].calendar {
    background: no-repeat right 8px center url(../images/common/calendar_icon.png) #fff; }

input[type="button"] {
  -webkit-appearance: none; }

select {
  border: 1px solid #dedede;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  width: 100%;
  font-size: 16px !important; }
  select::-webkit-input-placeholder {
    color: #9d9d9d; }
  select::-moz-placeholder {
    color: #9d9d9d; }
  select::-moz-placeholder {
    color: #9d9d9d; }
  select:-ms-input-placeholder {
    color: #9d9d9d; }
  select:-moz-placeholder {
    color: #9d9d9d; }

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.util-row {
  line-height: 32px; }
  .util-row::after {
    content: '';
    display: table;
    clear: both; }

.spacer-block {
  margin-right: 10px;
  display: inline-block; }
  .spacer-block:last-child {
    margin-right: 0; }

/* notosans */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format("opentype"); }

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #2b323f;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }
  html *,
  html *::before,
  html *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
    - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
button,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #333; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

img {
  display: block; }

button {
  font-family: "Noto Sans Korean";
  outline: 0;
  border: none;
  cursor: pointer; }

html {
  font-family: "Noto Sans Korean";
  line-height: 1;
  color: #333;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  margin-right: 2px; }

body.fixed {
  overflow: hidden; }

.lp-block {
  position: fixed;
  width: 100%;
  z-index: 9000;
  left: 0;
  top: 0;
  background: url(../images/vamain/lp_bg.png);
  visibility: hidden; }
  .lp-block .lp-wrap {
    display: table;
    width: 100%;
    height: 100%; }
    .lp-block .lp-wrap .lp-inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .lp-block .lp-wrap .lp-inner .lp-contants {
        display: inline-block;
        position: relative; }
        .lp-block .lp-wrap .lp-inner .lp-contants .lp-close {
          position: absolute;
          top: 0;
          right: -40px;
          cursor: pointer; }

.header {
  padding: 23px 0;
  border-bottom: solid 3px #114e8e; }

.container .main-visual {
  background: no-repeat center center url(../images/vamain/main_img.jpg); }
  .container .main-visual .main-title {
    padding: 80px 0 0 0;
    margin-bottom: 28px; }
  .container .main-visual .main-btn-wrap {
    padding-bottom: 27px; }
    .container .main-visual .main-btn-wrap::after {
      content: '';
      display: table;
      clear: both; }
    .container .main-visual .main-btn-wrap .main-btn-text {
      float: left; }
    .container .main-visual .main-btn-wrap .main-btn {
      float: left; }

.container .date-title {
  padding: 45px 0 50px 0;
  text-align: center;
  font-size: 26px;
  font-weight: bold; }
  .container .date-title strong {
    font-weight: bold;
    color: #114e8e; }

.container .login-block {
  width: 420px;
  margin: 0 auto; }
  .container .login-block .section {
    margin-bottom: 5px; }
    .container .login-block .section:nth-child(2) {
      margin-bottom: 10px; }
    .container .login-block .section input[type='text'], .container .login-block .section input[type='password'] {
      height: 48px;
      line-height: 48px;
      font-size: 14px; }
    .container .login-block .section input[type='button'] {
      height: 48px;
      width: 100%;
      font-size: 15px;
      color: #fff;
      border: none;
      background: #114e8e;
      cursor: pointer; }
  .container .login-block .login-text {
    margin-bottom: 30px;
    text-align: center; }
    .container .login-block .login-text img {
      display: inline-block; }
  .container .login-block .login-link {
    text-align: center;
    padding-top: 7px;
    margin-bottom: 20px; }
    .container .login-block .login-link ul {
      padding: 12px 0;
      display: inline-block; }
      .container .login-block .login-link ul::after {
        content: '';
        display: table;
        clear: both; }
      .container .login-block .login-link ul li {
        float: left;
        background: no-repeat right center url(../images/vamain/login_list_line.gif);
        margin-right: 10px;
        padding-right: 11px; }
        .container .login-block .login-link ul li:last-child {
          margin-right: 0;
          padding-right: 0;
          background: none; }
        .container .login-block .login-link ul li a {
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
          color: #666; }

.footer .finance-list {
  background: #f5f6f8; }
  .footer .finance-list ul::after {
    content: '';
    display: table;
    clear: both; }
  .footer .finance-list ul li {
    width: 20%;
    float: left; }
    .footer .finance-list ul li a {
      display: block;
      text-align: center; }
      .footer .finance-list ul li a img {
        display: inline-block;
        vertical-align: top; }

.footer .company-info {
  padding: 21px 0;
  background: #5a5a5a; }
  .footer .company-info::after {
    content: '';
    display: table;
    clear: both; }
  .footer .company-info .homepage-link {
    float: left; }
    .footer .company-info .homepage-link p {
      background: no-repeat left center url(../images/vamain/footer_home_icon.png); }
      .footer .company-info .homepage-link p a {
        font-size: 13px;
        color: #fff;
        line-height: 16px;
        padding-left: 20px; }
  .footer .company-info .homepage-gnb-link {
    float: right; }
    .footer .company-info .homepage-gnb-link ul::after {
      content: '';
      display: table;
      clear: both; }
    .footer .company-info .homepage-gnb-link ul li {
      float: left;
      margin-left: 40px; }
      .footer .company-info .homepage-gnb-link ul li:first-child {
        margin-left: 0; }
      .footer .company-info .homepage-gnb-link ul li a {
        font-size: 13px;
        color: #fff;
        line-height: 16px; }

.info-block {
  padding: 80px 0; }
  .info-block .con-title {
    font-size: 35px;
    margin-bottom: 30px; }
  .info-block .table-block {
    margin-bottom: 50px; }
    .info-block .table-block .table-title {
      margin-bottom: 10px; }
      .info-block .table-block .table-title::after {
        content: '';
        display: table;
        clear: both; }
      .info-block .table-block .table-title p {
        font-size: 20px;
        line-height: 32px;
        float: left; }
      .info-block .table-block .table-title .btn {
        float: right; }
        .info-block .table-block .table-title .btn a {
          display: inline-block;
          padding: 0 15px;
          color: #fff;
          background: #95979d;
          line-height: 32px;
          font-size: 13px;
          border-radius: 2px 2px 2px 2px;
          -moz-border-radius: 2px 2px 2px 2px;
          -webkit-border-radius: 2px 2px 2px 2px; }
    .info-block .table-block table {
      width: 100%;
      border-top: solid 1px #555555; }
      .info-block .table-block table tr:last-child th {
        border-bottom: solid 1px #c6c6c6; }
      .info-block .table-block table tr:last-child td {
        border-bottom: solid 1px #c6c6c6; }
      .info-block .table-block table th {
        font-size: 14px;
        background: #f8f8f8;
        padding: 20px 15px;
        border-bottom: solid 1px #e9e9e9; }
      .info-block .table-block table td {
        font-size: 14px;
        padding: 20px;
        border-bottom: solid 1px #e9e9e9;
        color: #787878; }
        .info-block .table-block table td.select {
          padding: 10px 20px; }
          .info-block .table-block table td.select select {
            height: 30px;
            line-height: 30px;
            max-width: 150px;
            font-size: 14px !important;
            display: inline-block;
            color: #787878; }
        .info-block .table-block table td .radio-list::after {
          content: '';
          display: table;
          clear: both; }
        .info-block .table-block table td .radio-list li {
          float: left;
          margin-right: 20px; }
          .info-block .table-block table td .radio-list li::after {
            content: '';
            display: table;
            clear: both; }
          .info-block .table-block table td .radio-list li:last-child {
            margin-right: 0; }
          .info-block .table-block table td .radio-list li label {
            cursor: pointer;
            font-size: 14px;
            color: #787878; }
            .info-block .table-block table td .radio-list li label input {
              margin-top: -2px; }
        .info-block .table-block table td .select-box {
          width: 100%;
          margin-top: 10px; }
          .info-block .table-block table td .select-box::after {
            content: '';
            display: table;
            clear: both; }
          .info-block .table-block table td .select-box p {
            float: left;
            line-height: 30px;
            margin-right: 10px; }
          .info-block .table-block table td .select-box select {
            float: left;
            height: 30px;
            line-height: 30px;
            max-width: 150px;
            font-size: 14px !important;
            display: inline-block;
            color: #787878; }
        .info-block .table-block table td .item-list::after {
          content: '';
          display: table;
          clear: both; }
        .info-block .table-block table td .item-list li {
          float: left;
          margin-right: 70px; }
          .info-block .table-block table td .item-list li:last-child {
            margin-right: 0; }
          .info-block .table-block table td .item-list li::after {
            content: '';
            display: table;
            clear: both; }
          .info-block .table-block table td .item-list li .title {
            float: left;
            font-size: 14px;
            font-weight: bold;
            color: #333333; }
          .info-block .table-block table td .item-list li .text {
            float: left;
            font-size: 14px;
            color: #333333;
            margin-left: 10px; }
    .info-block .table-block .table-more-btn {
      border-bottom: solid 1px #c6c6c6; }
      .info-block .table-block .table-more-btn a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 13px 0; }
        .info-block .table-block .table-more-btn a span {
          display: inline-block;
          font-size: 14px;
          padding-right: 12px;
          background: no-repeat right center url(../images/vamain/more_btn.gif); }
  .info-block .banner-long {
    text-align: center;
    padding: 80px 0 0 0; }
    .info-block .banner-long img {
      display: inline-block;
      vertical-align: top; }

.common-btn {
  text-align: center; }
  .common-btn input {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #114e8e;
    width: 400px;
    height: 48px;
    line-height: 48px;
    border: none;
    cursor: pointer; }
