
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: 30311(부가가치세자가신고>신고서작성-2>적용여부참고자료)</title>

<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.js"></script>
<script src="/js/libs/jquery.placeholder.js"></script>
<script src="/js/libs/jquery-ui.js"></script>
<script src="/js/moment.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/browserVersion.js"></script>
<script src="/js/libs/jquery.easing.1.3.js"></script>
<script src="/js/libs/jquery.mask.js"></script>

<script src="/js/libs/jquery.cookie.js"></script>
<script src="/js/cookie.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F2227421532331D000D200240013B";

		location.href="../cm/nTdLogin.do?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A2D5910065E0016262341250F130D2100204935215D3F07" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.do?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://t-renewal.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://t-renewal.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript" src="/js/ta_common.js"></script>
<script type="text/javascript">
$(function(){
	$("#btnClose").click(function() {
		parent.$.fancybox.close();
	});
});

</script>
</head>
<body>
    <div class="lp-ta-wrap">
        <div class="lp-header">
            <p>신용카드 매출전표등 발행세액공제 참고자료</p>
        </div>
        <div class="lp-container">
            <div class="lp-ta-cardpsd">
                <dl class="lp-ta-card-dl">
                    <dt>적용제외 사업자 및 업종</dt>
                    <dd>제외 사업자: <strong><span>법인사업자</span></strong> 및 전년도 공급가액 <strong><span>10억원 초과</span> 개인사업자</strong></dd>
                    <dd>제외 업종: <strong><span>제조 및 도매</span></strong> 등 세금계산서 발급의무 사업자</dd>
                </dl>
                <dl class="lp-ta-card-dl">
                    <dt>공제한도 및 공제율</dt>
                    <dd>음식/숙박업 영위하는 간이과세자: <strong>2.6%</strong></dd>
                    <dd>그 외 사업자: <strong>1.3%</strong></dd>
                    <dd>공제한도: <strong><span>연간 500만원</span></strong></dd>
                </dl>
                <dl class="lp-ta-card-dl last">
                    <dt>적용 예시</dt>
                    <dd><strong><span>1기 신고 때</span> 신용카드 매출전표등 발행세액공제액 <span>300만원 공제 받음</span>.</strong></dd>
                    <dd><strong><span>2기 신고 때</span> 신용카드 매출전표등 발행세액공제 가능액 500만원으로 계산되더라도 실제 공제 가능한 금액은 1기 신고 때 공제받은 300만원을 제외한 <span>200만원임!</span></strong></dd>
                </dl>
            </div>
            <div class="lp-ta-btn-wrap none_border">
                <input type="button" value="닫기" id="btnClose" class="base_btn_color width-90">
            </div>
        </div>
    </div>
</body>
</html>