@charset "UTF-8";

/* font */
    @font-face {
        font-family: "BM Hanna";
        font-style: normal;
        font-weight: normal;
        src: url("/fonts/BMHANNA_11yrs_otf.otf") format("embedded-opentype"), 
        url("/fonts/BMHANNA_11yrs_ttf.ttf") format("truetype"), 
        url("/fonts/BMHANNA_11yrs.woff") format("woff"); }
    @font-face {
        font-family: 'Noto Sans Korean';
        font-style: normal;
        font-weight: 400;
        src: local("Noto Sans Regular"), local("NotoSans-Regular"),
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Regular-Hestia.woff") format("woff"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf") format("opentype"); }
    
    @font-face {
        font-family: 'Noto Sans Korean';
        font-style: normal;
        font-weight: 700;
        src: local("Noto Sans Bold"), local("NotoSans-Bold"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Bold-Hestia.woff") format("woff"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf") format("opentype"); }
        
    

/* 공통 */
    b, strong { font-weight: bold; }
    h1, h2, h3, h4, h5, h6, p, dl, dt, dd { margin: 0; }
    ul, ol, li { margin: 0; padding: 0; list-style: none; }
    img { width: 100%; height: auto; }
    figure, figcaption { margin: 0; padding: 0; }
    cite { font-style: normal; }
    a { color: inherit; text-decoration: none; }
    input { font-family: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }
    input, textarea { display: inline-block; padding: 0; margin: 0; border: 0; background: none; font: inherit; resize: none; outline: 0; }
    input::-ms-clear { display: none; }
    input:focus,
    button:focus { outline: none; }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder { color: #bfbfbf; }
    button { display: inline-block; padding: 0; margin: 0; border: 0; background: none; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; }
    table, td, th { border-collapse: collapse; border: 0; text-align: left; border: 1px solid gray;  }
    em {font-style: normal;}    
    body, html { font-family: "Noto Sans Korean", sans-serif; font-size: 13px; font-weight: 300; line-height: 1; color: #3d3d3d; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; }
    html {-webkit-text-size-adjust: 100%; }
    iframe { -webkit-border: 0; border: 0; }
    .blind {display: block; position: absolute !important; top: -9999px; left: -9999px; width: 1px; height: 1px; margin: 0; padding: 0; border: 0; color: transparent; } 
    .notice {color: #ff4f4f;}

/* float clear */
    .clearfix:after { clear: both; display: block; content: ""; height: 0; visibility: hidden;} 
    * html .clearfix { height: 1px; }
    .clearfix { display: block; min-height: 1px; }

/* input */
    /** button **/
    input[type="text"] { font-size: 15px; }
    input[type="submit"], 
    input[type="button"] { position: relative; width: 100%; height: 100%; cursor: pointer; }
    .button-primary { color: #fff; background-color: #018aff; }
    .button-primary:disabled {background-color: #eee;}
    .button-primary-line { color: #018aff; border: 1px solid #018aff; }
    .button-gray-line { text-align: left; color: #595959; padding: 0 10px; border: 1px solid #eee; }
    /** checkbox/ radio **/
    input[type=checkbox] { width: 21px; height: 21px; background: no-repeat url('../images/common/ico_radio.png') left; background-size: cover; vertical-align: bottom; margin-right: 10px; }
    input[type=checkbox]+label { color: #595959; line-height: 21px; cursor: pointer; }
    input[type=checkbox]:checked { background-position: center; }
    /** file **/
    .file-name { display: block; width: 100%; font-size: 15px; color: #bfbfbf; border-bottom: 1px solid #eee; margin-top: 18px; padding-bottom: 12px; box-sizing: border-box; }
    .btn-file+label,
    .btn-file_remove+label {color: #6c6c6c; text-align: center; border: 1px solid #535353; box-sizing: border-box; cursor: pointer;}

/* popup */
    body.fixed { overflow: hidden; }
    .__pop-basic input[type="checkbox"] { width: 18px; height: 18px; border: 1px solid #d2d2d2; box-sizing: border-box; cursor: pointer; }
    .__pop-basic input[type="checkbox"]:checked { background: no-repeat url('../images/common/ico_checkbox.png'); background-size: cover; border: 0; }
    .__pop-basic input[type="radio"] { width: 11px; height: 11px; border: 1px solid #575757; -webkit-border-radius: 11px; border-radius: 11px; cursor: pointer; }
    .__pop-basic input[type="radio"]:checked { background: no-repeat url('../images/common/ico_radio.png') right; background-size: cover; border: 0; }
    
    .__pop-basic { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; font-size: 0; text-align: center; padding: 0 25px; box-sizing: border-box; z-index: 5000; }
    .__pop-basic:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
    .__pop-basic .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 0; }
    .__pop-basic .inner { display: inline-block; position: relative; width: 95%; max-width: 100%; background: #fff; text-align: left; vertical-align: middle; box-sizing: border-box; z-index: 10; }
    .__pop-basic .title { position: relative; padding-top: 24px; }
    .__pop-basic .title h1 { font-size: 15px; font-weight: bold; text-align: center; }
    .__pop-basic #pop-close+label {position: absolute; top: 15px; right: 24px; width: 1px; height: 18px; background-color: #0f0f0f; transform: rotate(-45deg); cursor: pointer; }
    .__pop-basic #pop-close+label::after { content: ''; position: absolute; top: 0; right: 0; width: 1px; height: 18px; background-color: #0f0f0f; transform: rotate(-90deg); }
    .__pop-basic .desc {padding:30px 20px 0;font-size:13px;letter-spacing:-0.05em;line-height:1.6em;max-height:60vh;overflow:auto;}
    .__pop-basic .desc:after {content:"";display:block;height:30px;}
    .__pop-basic .pop-exit > li {width: 100%; height: 45px; line-height: 45px; cursor: pointer;}
    .__pop-basic .delivery-area > li { float: left; width: 33.333%; }
    .__pop-basic .delivery-area > li:nth-child(3n+2) { text-align: center; }
    .__pop-basic .delivery-area > li:nth-child(3n) { text-align: right; }
    .__pop-basic .delivery-area > li+li+li+li { margin-top: 12px; }
    .__pop-basic .delivery-area input[type="checkbox"] { vertical-align: -4px; }
    .__pop-basic .delivery-type > li::after {  content: ''; display: table; clear: both; }
    .__pop-basic .delivery-type > li+li { margin-top: 18px; }
    .__pop-basic .delivery-type > li label { float: right; width: 95%; }
    .__pop-basic .delivery-type > li label > span { display: block; line-height: 1.5; }
