@charset "UTF-8";
.width-5 {
  width: 5px !important; }

.width-10 {
  width: 10px !important; }

.width-15 {
  width: 15px !important; }

.width-20 {
  width: 20px !important; }

.width-25 {
  width: 25px !important; }

.width-30 {
  width: 30px !important; }

.width-35 {
  width: 35px !important; }

.width-40 {
  width: 40px !important; }

.width-45 {
  width: 45px !important; }

.width-50 {
  width: 50px !important; }

.width-55 {
  width: 55px !important; }

.width-60 {
  width: 60px !important; }

.width-65 {
  width: 65px !important; }

.width-70 {
  width: 70px !important; }

.width-75 {
  width: 75px !important; }

.width-80 {
  width: 80px !important; }

.width-85 {
  width: 85px !important; }

.width-90 {
  width: 90px !important; }

.width-95 {
  width: 95px !important; }

.width-100 {
  width: 100px !important; }

.width-105 {
  width: 105px !important; }

.width-110 {
  width: 110px !important; }

.width-115 {
  width: 115px !important; }

.width-120 {
  width: 120px !important; }

.width-125 {
  width: 125px !important; }

.width-130 {
  width: 130px !important; }

.width-135 {
  width: 135px !important; }

.width-140 {
  width: 140px !important; }

.width-145 {
  width: 145px !important; }

.width-150 {
  width: 150px !important; }

.width-155 {
  width: 155px !important; }

.width-160 {
  width: 160px !important; }

.width-165 {
  width: 165px !important; }

.width-170 {
  width: 170px !important; }

.width-175 {
  width: 175px !important; }

.width-180 {
  width: 180px !important; }

.width-185 {
  width: 185px !important; }

.width-190 {
  width: 190px !important; }

.width-195 {
  width: 195px !important; }

.width-200 {
  width: 200px !important; }

.width-205 {
  width: 205px !important; }

.width-210 {
  width: 210px !important; }

.width-215 {
  width: 215px !important; }

.width-220 {
  width: 220px !important; }

.width-225 {
  width: 225px !important; }

.width-230 {
  width: 230px !important; }

.width-235 {
  width: 235px !important; }

.width-240 {
  width: 240px !important; }

.width-245 {
  width: 245px !important; }

.width-250 {
  width: 250px !important; }

.width-255 {
  width: 255px !important; }

.width-260 {
  width: 260px !important; }

.width-265 {
  width: 265px !important; }

.width-270 {
  width: 270px !important; }

.width-275 {
  width: 275px !important; }

.width-280 {
  width: 280px !important; }

.width-285 {
  width: 285px !important; }

.width-290 {
  width: 290px !important; }

.width-295 {
  width: 295px !important; }

.width-300 {
  width: 300px !important; }

.width-305 {
  width: 305px !important; }

.width-310 {
  width: 310px !important; }

.width-315 {
  width: 315px !important; }

.width-320 {
  width: 320px !important; }

.width-325 {
  width: 325px !important; }

.width-330 {
  width: 330px !important; }

.width-335 {
  width: 335px !important; }

.width-340 {
  width: 340px !important; }

.width-345 {
  width: 345px !important; }

.width-350 {
  width: 350px !important; }

.width-355 {
  width: 355px !important; }

.width-360 {
  width: 360px !important; }

.width-365 {
  width: 365px !important; }

.width-370 {
  width: 370px !important; }

.width-375 {
  width: 375px !important; }

.width-380 {
  width: 380px !important; }

.width-385 {
  width: 385px !important; }

.width-390 {
  width: 390px !important; }

.width-395 {
  width: 395px !important; }

.width-400 {
  width: 400px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }
  .text-center img {
    display: inline-block; }

.text-right {
  text-align: right; }

.number-color {
  color: "Noto Sans Korean" !important; }

.push-left {
  float: left; }
  .push-left img, .push-left p {
    display: inline-block;
    vertical-align: middle; }

.push-right {
  float: right; }
  .push-right img, .push-right p {
    display: inline-block;
    vertical-align: middle; }

.sub-title {
  font-size: 26px;
  margin-bottom: 30px; }
  .sub-title::after {
    content: '';
    display: table;
    clear: both; }
  .sub-title:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin-top: 25px;
    background: "Noto Sans Korean"; }
  .sub-title h2, .sub-title p {
    display: inline-block;
    line-height: 26px; }
  .sub-title p {
    font-size: 15px;
    margin-left: 8px; }
    .sub-title p span {
      color: "Noto Sans Korean"; }

.caution-text {
  color: #ff6c00; }

select, input[type="text"], input[type="file"], input[type="password"], input[type="time"] {
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #4e4e4e;
  height: 40px;
  line-height: 38px;
  padding-left: 10px;
  width: 100%; }
  select::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="file"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder {
    color: #959595; }
  select::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="time"]::-moz-placeholder {
    color: #959595; }
  select::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="time"]::-moz-placeholder {
    color: #959595; }
  select:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="file"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder {
    color: #959595; }
  select:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="file"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="time"]:-moz-placeholder {
    color: #959595; }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked + label span {
    background: url(../images/check_radio_sheet.png) -18px top no-repeat; }
  input[type="radio"] + label {
    display: inline-block;
    cursor: pointer; }
    input[type="radio"] + label span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 0 0 0;
      vertical-align: middle;
      background: url(../images/check_radio_sheet.png) left top no-repeat;
      cursor: pointer; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + label span {
    background: url(../images/check_radio_sheet.png) -54px top no-repeat; }
  input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer; }
    input[type="checkbox"] + label span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 0 0 0;
      vertical-align: middle;
      background: url(../images/check_radio_sheet.png) -36px top no-repeat;
      cursor: pointer; }

.input-file::after {
  content: '';
  display: table;
  clear: both; }

.input-file .filebox-btn {
  float: right;
  width: 19%; }
  .input-file .filebox-btn::after {
    content: '';
    display: table;
    clear: both; }

.input-file input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none; }

.input-file .file-label {
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  height: 4rem;
  line-height: 3.8rem;
  font-size: 1.5rem;
  color: #1f4c95;
  border: solid 1px #1f4c95;
  text-align: center; }

.input-file .file-name {
  float: left;
  font-size: 1.5rem;
  width: 80%;
  background: #f5f5f5;
  height: 4rem;
  line-height: 2.6rem;
  text-indent: .5rem;
  border: 1px solid #d9d9d9; }

textarea {
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #4e4e4e;
  line-height: 2.5rem;
  padding: .5rem 1rem !important;
  font-size: 1.5rem;
  width: 100%;
  resize: none;
  display: block;
  overflow-y: auto; }

input[type="text"], input[type="file"], input[type="password"], input[type="time"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.util-row {
  line-height: 32px; }
  .util-row::after {
    content: '';
    display: table;
    clear: both; }

.spacer-block {
  margin-right: 10px;
  display: inline-block; }
  .spacer-block:last-child {
    margin-right: 0; }

@media all and (max-width: 766px) {
  .input-file::after {
    content: '';
    display: table;
    clear: both; }
  .input-file .filebox-btn {
    float: right;
    width: 29%; }
    .input-file .filebox-btn::after {
      content: '';
      display: table;
      clear: both; }
  .input-file input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none; }
  .input-file .file-label {
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    height: 4rem;
    line-height: 3.8rem;
    font-size: 1.5rem;
    color: #1f4c95;
    border: solid 1px #1f4c95;
    text-align: center; }
  .input-file .file-name {
    font-size: 1.5rem;
    width: 70%;
    background: #f5f5f5;
    height: 4rem;
    line-height: 2.6rem;
    text-indent: .5rem;
    border: 1px solid #d9d9d9; } }

/* notosans */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format("opentype"); }

.common-btn button {
  background: #1f4c95;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border: none;
  width: 100%;
  font-size: 15px;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px; }

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #2b323f;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Noto Sans Korean"; }
  html *,
  html *::before,
  html *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
    - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
button,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #4e4e4e; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

img {
  display: block; }

button {
  font-family: "Noto Sans Korean";
  outline: 0;
  border: none;
  cursor: pointer; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  margin-right: 2px; }

.header {
  padding: 40px 25px 0 25px;
  margin-bottom: 15px; }

.header__tit {
  text-align: center;
  border-bottom: solid 2px #1f4c95;
  font-size: 2.5rem;
  padding-bottom: 20px;
  margin-bottom: 15px;
  color: #1e1e1e; }

.header__summary {
  text-align: center;
  font-size: 15px;
  color: #1e1e1e;
  line-height: 1.4; }

.member-info__company {
  padding: 15px 25px;
  background: #f4f4f4;
  margin-bottom: 15px; }
  .member-info__company li {
    font-size: 1.5rem;
    margin-bottom: 3px; }
    .member-info__company li:last-child {
      margin-bottom: 0; }

.member-info__company--etc {
  padding: 0 25px;
  margin-bottom: 15px; }
  .member-info__company--etc li {
    font-size: 1.5rem;
    margin-bottom: 3px; }
    .member-info__company--etc li:last-child {
      margin-bottom: 0; }
    .member-info__company--etc li span {
      display: block;
      color: #a6a6a6; }

.member-info__company--input {
  padding: 0 25px;
  margin-bottom: 17px; }

.member-info__company__section {
  margin-bottom: 10px; }
  .member-info__company__section:last-child {
    margin-bottom: 0; }
  .member-info__company__section input {
    font-size: 1.3rem; }
  .member-info__company__section.member-info__company__section--check {
    border: solid 1px #d7d7d7; }
    .member-info__company__section.member-info__company__section--check::after {
      content: '';
      display: table;
      clear: both; }
    .member-info__company__section.member-info__company__section--check input {
      border: none;
      line-height: 40px;
      float: left;
      width: 80%; }
    .member-info__company__section.member-info__company__section--check button {
      line-height: 40px;
      height: 40px;
      float: right;
      width: 20%;
      font-size: 1.3rem;
      color: #1f4c95;
      background: none; }

.member-info__terms {
  padding: 0 25px;
  margin-bottom: 20px; }
  .member-info__terms:last-child {
    margin-bottom: 0; }

.member-info__terms__tit {
  margin-bottom: 10px; }
  .member-info__terms__tit label {
    display: block !important; }
    .member-info__terms__tit label::after {
      content: '';
      display: table;
      clear: both; }
    .member-info__terms__tit label .tit {
      float: left;
      font-size: 15px;
      line-height: 18px; }
    .member-info__terms__tit label span {
      float: right; }

.member-info__terms__con {
  border: solid 1px #d7d7d7;
  padding: 10px;
  overflow-y: auto;
  height: 150px;
  font-size: 13px;
  line-height: 1.5;
  color: #a6a6a6; }

.footer {
  padding: 0 25px; }
  .footer.footer--join {
    padding-top: 30px;
    padding-bottom: 70px; }
  .footer.footer--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px; }
