
<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots"      content="noindex,nofollow" />
<meta name="language"    content="ko" />
<meta name="copyright"   content="copyrights 2019 NICE Data" />
<meta name="author"      content="NICE Data" />
<title>택스다이어트: UG_A0311(공지사항)</title>

<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/libs/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/soho_default.css">
<link rel="stylesheet" type="text/css" href="/css/soho_sub_default.css">

<!--  공통 -->
<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/niceCommon.js"></script>
<script src="/js/common-util.js"></script>
<script src="/js/libs/jquery.fancybox.js"></script>
<script src="/js/libs/jquery.placeholder.js"></script>
<script src="/js/libs/jquery-ui.js"></script>
<script src="/js/moment.js"></script>

<script src="/js/libs/jquery.dialog.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/browserVersion.js"></script>
<script src="/js/libs/jquery.easing.1.3.js"></script>
<script src="/js/libs/jquery.mask.js"></script>

<script src="/js/libs/jquery.cookie.js"></script>
<script src="/js/cookie.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/taxdiet_favicon.ico" />

<script type="text/javascript">

$(function(){
	// gnb 로고 옆에 현재 머물고 있는 1뎁스 메뉴 표시
	$("ul.gnb_depth1 > li").each(function(index){
		if($(this).attr("class") == "on"){
			$("div.logo-wrap > h2").html($(this).text().trim());
		}
	})
	
	
	// 로그아웃
	$(document).on("click", ".btn_logout", function(data){
		if (confirm("로그아웃 하시겠습니까?")) {
			
			var $form = $("<form/>",{id:"logoutForm",method:"post", action:"../cm/nTdLogout.html"});
			$("body").append($form);
			$form.submit();
		}
	});
	
	
	$("#loginBtn").click(function(){
		if($.trim($("#membId").val()) == "") {
			alert("회원아이디를 입력하세요.");
			$("#membId").focus();
			return false;
		}
		
		if($.trim($("#pswd").val()) == "") {
			alert("비밀번호를 입력하세요.");
			$("#pswd").focus();
			return false;
		}

		$.removeCookie("saveid", {path : '/'});

		if ($("#chk_save_id").prop("checked")) {
			$.cookie("saveid", $.trim($("#membId").val()), {expires: 365, path : '/'});
		}

		doLogin();

		return false;
	});

	
	$("#btn_login").click(function(){

		var param	= "";
		
		
		param = "7F3D02422106333F000C263B40013B";

		location.href="../cm/nTdLogin.do?returnURL=" + param;
	});
	
	$("#loginForm input[name=pswd]").keyup(function(e) {
		if (e.keyCode == KeyCode.ENTER) {
			$("#loginBtn").click();
		}
	});
	
	
	$(".btn_joinMember").click(function(){
		
		var url		= $(this).attr("move");
		
		if(typeof jmForm == "undefined"){
			var $form	= $("<form/>",{id:"jmForm", name:"jmForm", method:"get", action:url});
			
			$("body").append($form);
			$("<input/>").attr({type:"hidden", name:"referrUrl", value:"623C2734237F434A2D5910065E0016262341250F130D2100204935215D3F07" }).appendTo("#jmForm");
			
		} else {
			$("#jmForm").attr("action", url);
		}
		$("#jmForm").attr('target', '_blank').submit();
		
	});
});
	
function fnLayerClose(){
	try{
		parent.$.fancybox.close();
	}catch(exception){}
}
var membEtcRefresh = function(){
	$.post("../cm/CM_00001_UP1.html", "", "");
}
var isLogin = function(){
	
			return true;
				
}

// 미사용
function fnLogin(returnURL){
	if(!isLogin()){
		var msg	= "로그인이 필요합니다.\n회원이 아니시면 회원가입을 해주시기 바랍니다.";
		
		alert(msg);
		
		if(typeof(returnURL) == "undefined") {
			returnURL = location.pathname;
		}

		location.href = "../cm/nTdLogin.do?returnURL="+returnURL;
		
		return false;
	}
	return true;
}

function fnIeLimitCheck(){
	var limitVersion	= 8;
	var ieVersion		= getIeVersion();

	if(getCookie("NoMoreBrowserPopup") != "yes"){
		if(ieVersion){
			if(ieVersion <= limitVersion){
				WindowUtil.open({
					  windowURL		: "/popup/popup_ieWarning.html"
					, windowName	: "popup_browserWarning"
					, width			: 600
					, height		: 741
				});
			}
		}
	}
}

function doLogin() {
	if($("#loginForm > input#redirectURL").length === 0){
		$("<input>").attr({
			  type	: "hidden"
			, id	: "redirectURL"
			, name	: "redirectURL"
			, value : "https://t-renewal.taxdiet.co.kr/my/MY_B0111.html"
		}).appendTo("#loginForm");
	}
	else if ($("#redirectURL").val()=="") {
		$("#redirectURL").val("https://t-renewal.taxdiet.co.kr/my/MY_B0111.html");
	}
	else {
		$("#redirectURL").val(location.href);	
	}

	if ($("#returnURL").val() != "") {
		$("#redirectURL").val("");
	}

	$("#loginForm").attr("action", "../cm/nTdSsoLoginProc.html");
	$("#loginForm").attr("target", "_self");
	$("#loginForm").submit();
}
</script>
<script type="text/javascript">
$(function(){
	// 검색
	$('#srhBtn').click(function() {
		movePage("1");

		return false;
	});

	$('.orderBy').click(function() {
		var orderName = $('#orderName').val();
		var orderGbn = $('#orderGbn').val();

		if(orderName != $(this).attr('name')){
			$('#orderGbn').val('ASC');
		}else{
			if(orderGbn == 'ASC'){
				$('#orderGbn').val('DESC');
			}else{
				$('#orderGbn').val('ASC');
			}
		}

		$('#orderName').val($(this).attr('name'));

		movePage($("#current_page").val());

		return false;
	});

	// 상세보기
	$('.view').click(function() {
		var bseq = $(this).next().val();

		$('#blbdSeq').val(bseq);

		f_form_submit_nosession("../ug/UG_A0321.html");

		return false;
	});
});

function movePage(page){
	$("#current_page").val(page);
	$("#form").attr("target", "_self");

	f_form_submit_nosession("../ug/UG_A0311.html");
}
</script>
</head>
<body>
	<div id="wrap board-view">
	<script type="text/javascript">
$(function(){
    //메뉴  클릭시 프로그레스 처리
    $(".logo, .mypage").find("a").click(function(){ progress.start();});
    
  	//메뉴  클릭시 프로그레스 처리
    $(".dep01, .dep02").find("a").click(function(){
    	
    	if($(this).attr("target") != "_blank" ) {
    		progress.start();
    	}
    });
        
});
</script>

	<!-- header_n -->

	<div id="wrap">
		<div id="td__header_wrap">
			<div class="td__header">
				<div class="td__header-depth1">
					<ul class="item5">
					<li >
								<a href="javascript:f_location_href_nosession('../vr/VR_03002.html');">부가세환급지원</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../vt/VT_30111.html');">부가가치세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../sd/SD_30111.html');">종합소득세 자가신고</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../as/AS_02101_SL.html');">세무상담</a>
							</li>
						<li >
								<a href="javascript:f_location_href_nosession('../bizmap/BS_20111.html');">상권분석</a>
							</li>
						</ul>
				</div>
				<div class="td__header-block">
                    <div class="td__header-top">
						<div class="td__inner-container">
							<h1>
								<a href="../cm/main.html">
									<img src="/images/td/common/sub_logo.gif" alt="로고">
								</a>
							</h1>
							<div class="login-area">
								<div class="login-inner">
								<ul class="login-btn">
											<li>
													<a href="javascript:f_location_href_nosession('../my/MY_B0111.html');" class="progress">마이페이지</a>
												</li>
											</ul>
										<button class="btn_logout">로그아웃</button>
									</div>
							</div>
						</div>
					</div>
					<div class="td__header-bottom">
						<div class="td__header-depth2">
							<ul>
							<li >
											<a href="javascript:f_location_href_nosession('../ug/UG_A0211.html');">자주묻는 질문</a>
										</li>
									<li class="active">
											<a href="javascript:f_location_href_nosession('../ug/UG_A0311.html');">공지사항</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../ug/UG_A0511.html');">고객의 소리</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../ug/UG_A0611.html');">1:1 문의</a>
										</li>
									<li >
											<a href="javascript:f_location_href_nosession('../ug/UG_A0711.html');">원격지원</a>
										</li>
									</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //header_n -->
<script type="text/javascript" src="/js/niceTopMenu.js"></script><form id="form" name="form" method="post">
		<input type="hidden" name="blbdKind" id="blbdKind" value="30" />
		<input type="hidden" name="blbdSeq" id="blbdSeq" value="" />
		<input type="hidden" name="orderName" id="orderName" value="" />
		<input type="hidden" name="orderGbn" id="orderGbn" value="" />
		<input type="hidden" name="current_page" id="current_page" value="" />
		<div id="container">
			<div class="contents_wrap">
				<div class="contents full_width">
					<div class="ug_sub_title_wrap">
						<p class="title">공지사항</p>
						<p class="text">택스다이어트에서 알려드립니다.</p>
					</div>
					<div class="board_lisr_view alr">
						<p class="all_number">총 <strong>122</strong>건</p>
						<ul class="ug_board_search_wrap">
							<li>
								<select name="srhTyp" id="srhTyp">
									<option value="title" >제목</option>
									<option value="content" >본문</option>
									<option value="all"  >제목+본문</option>
								</select>
							</li>
							<li>
								<input name="srhVlu" type="text" id="srhVlu" value="" >
							</li>
							<li>
								<input name="srhBtn" type="button" id="srhBtn" class="base_btn_color dark" value="검색">
							</li>
						</ul>
					</div>
					<table width="100%" class=" table_font if_table1">
						<col width="12%;">
						<col width="64%;">
						<col width="12%;">
						<col width="12%;">
						<thead>
							<tr>
								<th scope="col">번호</th>
								<th scope="col"><a href="javascript:;" name="TITL" class="orderBy t_bla3">제목</a></th>
								<th scope="col"><a href="javascript:;" name="RGT_DTTM" class="orderBy t_bla3">등록일</a></th>
								<th scope="col"><a href="javascript:;" name="RGTR_NAME" class="orderBy t_bla3">등록자</a></th>
							</tr>
						</thead>
						<tbody>
						<tr>
										<td>
											
													[공지]
												</td>
										<td class="title">
											<a href="javascript:;" class="view">공지사항입니다.</a><input type="hidden" name="temp_seq"  value="14161"/>
										</td>
										<td>2017-06-19</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											
													[공지]
												</td>
										<td class="title">
											<a href="javascript:;" class="view">[공지사항] 회원님들을 위한 공지사항</a><input type="hidden" name="temp_seq"  value="11189"/>
										</td>
										<td>2013-02-01</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											122</td>
										<td class="title">
											<a href="javascript:;" class="view">공지사항테스트</a><input type="hidden" name="temp_seq"  value="14394"/>
										</td>
										<td>2018-07-19</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											121</td>
										<td class="title">
											<a href="javascript:;" class="view">테스트ttt</a><input type="hidden" name="temp_seq"  value="14346"/>
										</td>
										<td>2018-01-30</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											120</td>
										<td class="title">
											<a href="javascript:;" class="view">testxx</a><input type="hidden" name="temp_seq"  value="14345"/>
										</td>
										<td>2018-01-30</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											119</td>
										<td class="title">
											<a href="javascript:;" class="view">테스트x</a><input type="hidden" name="temp_seq"  value="14344"/>
										</td>
										<td>2018-01-30</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											118</td>
										<td class="title">
											<a href="javascript:;" class="view">테스트</a><input type="hidden" name="temp_seq"  value="14343"/>
										</td>
										<td>2018-01-30</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											117</td>
										<td class="title">
											<a href="javascript:;" class="view">ttttttttttttttest</a><input type="hidden" name="temp_seq"  value="14342"/>
										</td>
										<td>2018-01-30</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											116</td>
										<td class="title">
											<a href="javascript:;" class="view">111</a><input type="hidden" name="temp_seq"  value="13994"/>
										</td>
										<td>2016-11-04</td>
										<td>관리자</td>
									</tr>
								<tr>
										<td>
											115</td>
										<td class="title">
											<a href="javascript:;" class="view">2012년 1기 예정 부가가치세 신고 안내</a><input type="hidden" name="temp_seq"  value="5182"/>
										</td>
										<td>2012-04-02</td>
										<td>관리자</td>
									</tr>
								</tbody>
					</table>
					<div class="paginate_wrap">
						<div class="paginate">
							<p class="first arrow" onClick='javascript:movePage("1");'><span class="icon"></span><span class="text">처음으로</span></p><p class="pre arrow"><span class="icon"></span><span class="text">이전</span></p><ol class="number"><li class="active" ><a href="javascript:movePage('1');">1</a></li><li><a href="javascript:movePage('2');">2</a></li><li><a href="javascript:movePage('3');">3</a></li><li><a href="javascript:movePage('4');">4</a></li><li><a href="javascript:movePage('5');">5</a></li><li><a href="javascript:movePage('6');">6</a></li><li><a href="javascript:movePage('7');">7</a></li><li><a href="javascript:movePage('8');">8</a></li><li><a href="javascript:movePage('9');">9</a></li><li><a href="javascript:movePage('10');">10</a></li></ol><p class="next arrow" onClick="javascript:movePage('11');"><span class="icon"></span><span class="text">다음</span></p><p class="last arrow" onClick="javascript:movePage('16');"><span class="icon"></span><span class="text">마지막으로</span></p></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript">
$(document).ready(function(){
	// 회사소개
	$(".nicednr").click(function() {
		window.open("http://www.nicednr.co.kr");
		return false;
	});

	// 제휴문의
	$(".UG_A0411").click(function() {
		fancybox_open_width("../ug/UG_A0411.html", "700px", "", "yes", false);
		return false;
	});

	// 개인정보처리방침
	$(".UG_A0131").click(function() {
		fancybox_open_width("../ug/UG_A0131.html", "700px", "", "yes", false);
		return false;
	});

	// 이용약관
	$(".UG_A0121").click(function() {
		fancybox_open_width("../ug/UG_A0121.html", "700px", "", "yes", false);
		return false;
	});

	// 고객센터
	$(".UG_A0111").click(function() {
		f_location_href_nosession("../ug/UG_A0111.html");
		return false;
	});
	
	$(".tax_bill").click(function() {
		window.open("http://www.nicedata.co.kr/ti/TI_10000.html");
		return false;
	});
	
	$(".check_biz").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_30401.html");
		return false;
	});
	
	$(".sgic").click(function() {
		window.open("http://www.nicedata.co.kr/as/AS_40601.html");
		return false;
	});
});
</script>
<div id="td__footer_wrap">
	<div class="td__footer">
		<div class="td__footer-top">
			<ul>
				<li><a href="javascript:;" class="nicednr">회사소개</a></li>
				<li><a href="javascript:;" class="UG_A0411">제휴문의</a></li>
				<li><a href="javascript:;" class="UG_A0131"><b>개인정보처리방침</b></a></li>
				<li><a href="javascript:;" class="UG_A0121">이용약관</a></li>
				<li><a href="javascript:;" class="UG_A0111">고객센터</a></li>
				<li class="mo_right">
					<a href="https://t-m.taxdiet.co.kr/nm/NM_20001.html">
						<div class="mo_img">
							<img src="/images/td/common/ico_mobile.png" alt=""/>
						</div>
						모바일버전
					</a>
				</li>
				</ul>
		</div>
		<div class="td__footer-bottom">
			<ul>
				<li>NICE 디앤알(주)</li>
				<li>대표 : 강용구</li>
				<li class="last">통신판매업 신고번호 : 제2012-서울구로-1033호</li>
				<li>사업자등록번호 : 107-87-08207</li>
				<li class="last">서울특별시 서대문구 충정로 36 7층</li>
				<li>TEL : 1588-5659</li>
				<li class="last">FAX : 788-9001</li>
			</ul>
		</div>
	</div>
</div>
<div class="common-quick-menu qm-sub">
	<ul>
		<li class="tax_bill">
			<a href="#none">
				<img src="/images/common/quick_icon_1.png" alt="전자세금계산서"/>
				전자세금<br />계산서
			</a>
		</li>
		<li class="check_biz">
			<a href="#none">
				<img src="/images/common/quick_icon_2.png" alt="휴폐업조회"/>
				휴폐업<br />조회
			</a>
		</li>
		<li class="sgic">
			<a href="#none">
				<img src="/images/common/quick_icon_3.png" alt="서울보즘보험안내"/>
				서울보증보험<br />안내
			</a>
		</li>
	</ul>
</div>
<!-- //footer_n -->	
<iframe id="sessionFrame" name="sessionFrame" width="10" height="10" src="javascript:void 0;" title="로그인처리용" style="display:none"></iframe>
<script type="text/javascript" src="/js/imageChecker.js"></script>
<script type="text/javascript">


var title = document.title;
document.title	= title + "·"; 



ImageNotExistProcess.process("boardBox");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36649342-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36649342-23');
</script></div>
</body>
</html>