@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* common */
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Noto Sans Korean';
	font-weight: normal;
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
	background: #fff;
	word-break: break-all;
	min-width: 1430px;
}
.wrap {
	width: 100%;
	height: 100%;
}
.wrapper {
	height: 100%;
	overflow: scroll;
/*	position: relative;*/
}
.wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
 display: none;
}
.wrapper:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../../images/hub/bg-visual.jpg") top center repeat;
	background-size: cover;
	z-index: -1;
}
.logo-area {
	position: absolute;
	top: 30px;
	left: 50px;
}
.d-table {
	width: 100%;
	height: 100%;
	display: table;
}
.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.container {
	width: 1430px;
	padding: 30px 15px;
	margin: 40px auto 0;
}
.visual-title {
	text-align: center;
}
.visual-title h1 {
	font-size: 46px;
	font-weight: 700;
}
.tax-area {
	width: 100%;
	position: relative;
	padding: 40px 0 30px;
	display: inline-block;
}
.tax-logo-area {
	text-align: center;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
}
.tax-logo-area:before, .tax-logo-area:after {
	content: '';
	position: absolute;
	vertical-align: middle;
	width: calc(100% - 59%);
	height: 1px;
	background: #fff;
	top: 12px;
}
.tax-logo-area:before {
	left: 0;
}
.tax-logo-area:after {
	right: 0;
}
.row {
	margin: 0 -5px;
}
.tax {
	width: 20%;
	padding: 0 5px;
	float: left;
}
.tax-btn {
	height: 355px;
	border: 5px solid #fff;
	padding:25px 35px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
	position: relative;
}
.tax-btn:hover {
	margin-top: -15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.tax:nth-child(1) .tax-btn {
	background: #64aed1;
}
.tax:nth-child(2) .tax-btn {
	background: #249dab;
}
.tax:nth-child(3) .tax-btn {
	background: #5362b0;
}
.tax:nth-child(4) .tax-btn {
	background: #de6051;
}
.tax:nth-child(5) .tax-btn {
	background: #5a749e;
}
.tax:nth-child(1) {
	animation-delay: .2s;
}
.tax:nth-child(2) {
	animation-delay: .4s;
}
.tax:nth-child(3) {
	animation-delay: .6s;
}
.tax:nth-child(4) {
	animation-delay: .8s;
}
.tax:nth-child(5) {
	animation-delay: 1s;
}
.tax h2 {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.09rem;
	position: relative;
}
.tax h2:before {
	content: '';
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	left: 0;
	top: 50px;
}
.tax h2:after {
	content: '';
	width: 7px;
	height: 7px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg) translateY(-50%);
	position: absolute;
	left: 12px;
	top: 64px;
}
.tax-img {
	position: absolute;
	bottom:25px;
	left: 50%;
	margin-left: -92px;
}
.bottom-area {
	width: 100%;
	text-align: center;
	animation-delay: 1.2s;
}
.d-inline {
	display: inline-block;
}
.bottom-btn {
	float: left;
	width: 220px;
	cursor: pointer;
}
.footer {
	text-align: center;
	color: #777;
	font-size: 14px;
	width: 100%;
	padding: 30px 0;
	background: #fff;
}
.footer-li li {
	display: inline-block;
}
.footer-li li:after {
	content: '';
	width: 1px;
	height: 10px;
	background: #d6d6d6;
	display: inline-block;
	margin: 0 3px 0 8px;
}
.footer-li li:last-child:after {
	display: none;
}